[2021-07-07 13:29] tonytcampbell opened #11 "[Docs] Document how to install Preflight from source"
Document how to install Preflight from source.

[2021-07-07 13:37] tonytcampbell opened #12 "Print distinct message for check errors"
Right now if a check errors out  we print the help text but we should print a different message to distinguish between a Check Failure and an error.  We can see say something as simple as, "This check encountered an error.  Please review the logs for more information."

[2021-07-07 16:33] komish opened #14 "Consider writing check results to a file"
As a user, I may prefer for the results of my preflight execution to be written to a file instead of to STDOUT. Note that this refers to the test output that is passed through the implemented formatters itself, and not the log output the that preflight provides to the user at execution time.

**Implementation Note:**

We write our formatted text in one place: https://github.com/redhat-openshift-ec

[2021-07-07 16:35] komish opened #15 "The output file for preflight itself should be configurable (default: preflight.log)"
We currently write a logfile to preflight.log as well as STDOUT. We should:

* Accept an environment variable/flag that indicates where we should write this file, and default to preflight.log if none is provided.
* Accept an environment variable/flag that indicates whether we should NOT also write to STDOUT/ERR (e.g. a --quiet flag).
There is also a current bug that should be fixed by this enhance

[2021-07-07 16:47] komish opened #16 "Ensure checks fall back to "failing" to avoid inadvertently passing a check"
In a given check's `Validate()` function, we should ensure that the logic checks for explicit cases indicating we've passed (and falling back to failing) instead of explicit cases indicating we've failed (and falling back to passing).

So for example, say we have this simplified method (pseudo-code)

[code]

In this case, we check to see if we've failed. If we have, then we return `false` and fail

[2021-07-07 18:42] komish commented on #15
/assign komish

[2021-07-07 20:49] tonytcampbell opened #19 "Need to catch Warnings in bundle validate output"
https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/6a626e2306c2eb6d25600d57611dc333b425f2cd/certification/internal/shell/validate_operator_bundle.go#L23

The operator-sdk bundle validate command outputs a string when it finishes "All validation tests have completed successfully".  However, we should catch the Warnings too and pass those on to the user.

[2021-07-07 21:18] bcrochet opened #20 "Need an OWNERS file for openshift-ci"
We should add an OWNERS file to comply with reqs of using openshift-ci.

[2021-07-08 13:01] jomkz commented on #20
Added a PR for the owners file.

[2021-07-08 14:24] komish opened #23 "New subcommands `operator` and `container` do not properly expose runtime flags"
Previously, we used `../preflight <image>` to invoke tests, and the following subcommands existed:

[code]

These however are not exposed for the check subcommands `check operator` and `check container`:

[code]

[2021-07-08 17:20] komish commented on #23
/assign komish

[2021-07-08 17:22] komish opened #24 "Rely on sane defaults for initial release version of preflight tooling"
We have a few configurables such as enabled checks and output formats currently implemented. For initial releases and integration with the pipelines as a whole, we should disable those configurations and look to enable them as we need them down the line.

[2021-07-08 17:23] komish commented on #24
/assign komish

[2021-07-08 17:53] komish commented on #16
/kind design

[2021-07-08 17:54] #20 closed

[2021-07-08 18:42] komish opened #25 "Improve BasedOnUBI check to ensure reliable validation of UBI vs. RHEL images"
The BasedOnUBi check currently checks to ensure that the `/etc/os-release` file contains the following keys:

[code]

Technically, this passes with RHEL images:

[code]

We'll need to decide:
* Should we be more explicit in identifying something is UBI, and how we do that, or if we want to pass RHEL-based images
* How we identify that something is specifically UBI and not RHEL

If we want to be mo

[2021-07-08 21:03] tonytcampbell commented on #25
Good catch.  Let me check with the folks defining the policy to confirm if RHEL images should pass this check as well.

[2021-07-08 21:07] tonytcampbell opened #28 "Document process for new contributors"
Create a document that shows people how to contribute to this project.

[2021-07-08 21:11] #24 closed

[2021-07-09 12:45] komish commented on #15
This issue has been rescoped and this is no longer configurable for the moment. Closing this to preserve historical context, and re-opening a new issue for the init bug.

[2021-07-09 12:45] #15 closed

[2021-07-09 12:46] komish opened #30 "The preflight.log file is written even when simply asking for `--help`."
This is because the initial implementation is called in an init() function[1] which is always executed. Instead, we want to explicitly initialize logging functionality once we've parsed the user provided configuration.

Was previously a part of #15 and has been separated into its own issue due to descoping the rest of the work in that issue.

[2021-07-09 12:47] komish commented on #30
/kind bug
/assign komish

[2021-07-09 14:01] #30 closed

[2021-07-09 14:05] komish commented on #14
@tonytcampbell Should we go ahead and write to something like `results.xml` in addition to STDOUT?

[2021-07-09 14:09] komish commented on #23
With #26 merged, this is no longer an issue. Closing!

[2021-07-09 14:09] #23 closed

[2021-07-09 14:30] tonytcampbell opened #33 "[Check] Operator Bundle Data Linting"
Run `operator-sdk bundle validate -b podman --select-optional name=operatorhub --select-optional name=community registry.redhat.io/quay/quay-operator-bundle`
Check should fail on errors and print to stdout and the log
Check should pass on warnings but print warnings to stdout and the log

[2021-07-09 14:32] tonytcampbell opened #34 "[Check] Operator Package Name Uniqueness"
This check will require an API from the backend teams.  The API should accept a package name and return true if the name is unique (no other packages have that name) or false if the name is a duplicate of an existing package name in any of the catalogs

Need to work with the backend teams (CVP?) to have them create the API for us.

[2021-07-09 14:36] tonytcampbell opened #35 "[Check] Operator Images Schema Version"
Need to confirm that all the related images for this Operator are using FAT manifest (schemaVersion 2)

Possible implementation
`podman pull` the bundle image
`podman image mount` the bundle image
Load <mount point>/manifest/<crd.yaml> into a variable
Use gojq to search for any values in the relatedImages field
Iterate the list of relatedImages and run `podman manifest inspect <link to related ima

[2021-07-09 14:37] bcrochet opened #36 "Add unit test for HasRequiredLabelsCheck"
PR #2

[2021-07-09 14:38] samira-barouti opened #37 "Add unit tests for HasUniqueTag check"
Refactoring the check code and unit testing

[2021-07-09 14:39] tonytcampbell opened #38 "[Check] Operator Deployment with OLM"

[2021-07-09 14:39] tonytcampbell opened #39 "[Check] Operator Scorecard"

[2021-07-09 14:39] tonytcampbell opened #40 "[Check] Operator Image Source"

[2021-07-09 14:40] tonytcampbell opened #41 "[Check] Operator Images Schema Version"

[2021-07-09 14:40] bcrochet opened #42 "PodmanEngine should be an internal interface"
Currently, the PodmanEngine interface is a public, exported interface. It really should be an internal interface.

Therefore, it should move to internal/cli as a package.

[2021-07-09 14:44] bcrochet commented on #25
PR #2 introduces an InspectImage to the the podmanEngine. This could be useful... Perhaps labels on the base image?

[2021-07-09 14:55] komish opened #43 "Expose the checks used by the `check container` and `check operator` actions in their help outputs"
It may be useful for the user to know exactly what tests are going to be executed when they call container/operator check commands.

[2021-07-09 14:57] bcrochet opened #44 "Extract common unit test logic into helper functions"
There is a lot of boilerplate in the tests for each of the checks. This can be extracted into helper functions located on the suite.

[2021-07-09 15:24] komish opened #46 "Add initial behavior testing"
I think we can programmatically test behaviors of the application as a whole without necessarily calling out to the built binary by performing similar functions to what's done in the cobra `Run` commands.

## The Plan
* I'll find a "known good" and "known bad" container image and operator bundle
* build a `runtime.Config` using that image and our known defaults
* get the default engine
* run the c

[2021-07-09 15:32] komish commented on #46
cc: @bcrochet

[2021-07-09 16:22] komish commented on #25
@bcrochet Possibly, but we'd have to go reach out to UBI folks and have them do so all the way at the UBI build. And it would cause old builds to fail.

[2021-07-09 17:09] bcrochet commented on #25
I'm pretty sure it already has the labels. Take a look at 'podman image inspect registry.access.redhat.com/ubi8/ubi'

[2021-07-09 17:38] rocrisp commented on #39
I think this issue is already in PR https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/18

[2021-07-09 17:43] rocrisp commented on #40
I got this!
Waiting on acceptance for https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/18
The 2 are not related but... just in case someone wants me to rewrite the whole thing.

[2021-07-09 18:34] samira-barouti commented on #46
The UniqueTagCheck needs two good containers as well: one with only the `latest` tag, and one with `latest` AND other tags. So I believe we need at least 3 containers.

[2021-07-09 19:56] bcrochet commented on #46
So, this sounds to me light e2e/integration testing, as opposed to unit testing. So, for this, I would definitely concur with the top-level test directory, and it being a separate package.

I think I'd like to see automation around building the known good/known bad images, pushing them to a public (quay.io) repository, then running the full tests based on those built images. Or, have a periodic bu

[2021-07-09 20:11] komish opened #49 "Reduce elevated privileges required to run preflight successfully when testing against a container image"
When testing against a container image, the `HasMinimalVulnerabilitiesCheck` check makes a call out to oscap-podman, and it requires the ability to run a container as root. This test will fail if the runtime user cannot run a pod as root from what I can see.

We see this error if we run without elevated privileges

[code]

We're currently unable to control what checks are executed when calling pre

[2021-07-09 20:35] komish opened #51 "preflight.log is created with an executable permission"
The default log file is created with 0700 permissions and probably just needs 0600 (RW-) https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/cmd/log.go#L14

[2021-07-10 15:43] tonytcampbell opened #54 "Introduce viper for configuration and refactor logging init"
Introduce viper to handle our configuration  and refactor the logging configuration.

Modified cmd/root.go to initialize viper
Supports Env Vars
[code]

Supports an optional config.yaml file in the same directory as the binary
[code]

[2021-07-12 13:19] bcrochet opened #58 "Default log level should be lower than trace"
Trace is the most verbose log level. The default should be something like Warning. Developers should only need debug and higher.

[2021-07-12 13:36] komish opened #59 "Identify and build quay namespace for test container and operator assets"
When we decide to build and enable e2e tests, we will need to have test assets available in a publicly accessible location so that we can run those tests against known-good and known-bad assets.

The Quay namespace where this will be hosted needs to be identified so that we can start looking at automated build and publication of those assets.

[2021-07-12 14:39] bcrochet opened #60 "The preflight tool should generate hashes based on the bundle directory"
https://docs.google.com/document/d/1AVSIJCdXvBk2LzvnkXZ1PTtJudVDxYQuJ-YmT7cF2_U/edit describes how a set of hashes can be generated to identify a specific bundle.

[2021-07-12 14:46] komish opened #61 "Implement `certify` subcommand to submit results for certification"
The preflight tool should allow a user to take their results on-disk and submit them to Red Hat for review. The API endpoint is TBD.

[2021-07-12 14:47] komish opened #62 "The default output format should be JSON and JUnitXML support can be removed"
Initial design required our `junitxml` be the default output format for test cases, but this requirement has changed and JSON is now the preferred output format. Schema definition is TBD, but we can use our placeholder/generic implementation for now.

[2021-07-12 14:48] komish commented on #62
In addition, we can remove JUnitXML support.

[2021-07-12 17:34] edreyer-1 opened #64 "Add unit tests for checks HasLicense, HasNoProhibitedPackages, RunAsNonRoot"
Add unit tests for the the checks that use podman run. This include checks HasLicense, HasNoProhibitedPackages, and RunAsNonRoot.

[2021-07-12 18:34] komish commented on #39
Closing as #18 merged

[2021-07-12 18:34] #39 closed

[2021-07-12 18:41] komish commented on #61
This is already stubbed as the `certify` subcommand. It is not implemented yet as we're awaiting API contract definition as mentioned previously.

[2021-07-12 18:51] komish opened #67 "Write unit tests for the formatters package"

[2021-07-12 18:51] komish commented on #67
/assign

[2021-07-12 19:24] samira-barouti opened #68 "Write unit tests for HasMinimalVulnerabilityCheck"

[2021-07-12 19:31] komish commented on #64
@edreyer-1 are you working on this? No problem if not, just want to make sure it's assigned to you if you are!

[2021-07-12 19:40] edreyer-1 commented on #64
Yes I was about to put up a pull request for it but I couldn't figure out how to assign it to myself.

[2021-07-12 19:40] #62 closed

[2021-07-12 19:41] komish commented on #64
/assign edreyer-1

[2021-07-12 20:30] bcrochet opened #71 "Add unit test for max layer check"

[2021-07-13 08:47] itroyano opened #76 "Implement deliverables for multiple architectures"
Reference:
- https://www.digitalocean.com/community/tutorials/how-to-build-go-executables-for-multiple-platforms-on-ubuntu-16-04
- https://gist.github.com/asukakenji/f15ba7e588ac42795f421b48b8aede63

- [ ] make build for:  linux-amd64,  darwin-amd64, zos-s390x, linux-ppc64, darwin-arm64 (Apple M1) ?,  windows-amd64 ?
- [ ] make image-build for:  linux-amd64,  darwin-amd64, zos-s390x, linux-ppc64,

[2021-07-13 09:01] itroyano opened #77 "Add [make image-build] and [make image-push] into Workflow"
[proposed]  create them as a new yaml e.g. build.yml,   to separate build steps from go/unit steps.

[2021-07-13 09:18] itroyano opened #78 "[ Check ] Operator Catalog initialization test"
Reference: https://github.com/redhat-openshift-ecosystem/operator-test-playbooks/blob/master/roles/operator_catalog_initialization_test/tasks/main.yml

Proposed implementation:
- Add a user flag for providing KUBECONFIG (in case it wasn't added yet).
- Define the check as runnable for Bundle Images
- Use `ExtractContainerTar` to obtain manifests
- Run `catalog initializer` and add RC and output in

[2021-07-13 12:15] komish commented on #77
/kind feature

[2021-07-13 12:17] itroyano commented on #78
/kind feature

[2021-07-13 12:17] itroyano commented on #76
/kind feature

[2021-07-13 12:55] itroyano commented on #77
/assign itroyano

[2021-07-13 12:55] itroyano commented on #76
/assign itroyano

[2021-07-13 12:55] itroyano commented on #78
/assign itroyano

[2021-07-13 14:03] #71 closed

[2021-07-13 14:09] bcrochet opened #80 "Create abstraction for Operator-sdk"
Operator-sdk needs an abstraction like Podman and Skopeo.

[2021-07-13 14:27] #67 closed

[2021-07-13 14:47] #46 closed

[2021-07-13 15:24] #37 closed

[2021-07-13 16:12] komish commented on #36
Closing as this was done in the PR mentioned!
/close

[2021-07-13 16:12] #36 closed

[2021-07-13 16:31] #51 closed

[2021-07-13 16:31] #54 closed

[2021-07-13 16:39] komish commented on #58
Good to close this - it was fixed in #55
/close

[2021-07-13 16:39] #58 closed

[2021-07-13 17:00] komish commented on #14
/assign

[2021-07-14 12:24] bcrochet opened #87 "HasLicenseCheck should be more robust"
Right now, when the /licenses directory exists, it is actually passing not because of the "No such file or directory" check. It's because the podman run exits with an error code. It never actually gets to the Validate method. Even if it did, "No such file or directory" would be on stderr, not stdout. So, stderr should in fact be checked for that string, rather than stdout.

If might make more sens

[2021-07-14 12:27] bcrochet opened #88 "Create method for operator-sdk bundle validate"

[2021-07-14 13:27] #68 closed

[2021-07-14 14:07] #80 closed

[2021-07-14 14:11] bcrochet commented on #88
Closed by #81

[2021-07-14 14:11] #88 closed

[2021-07-14 14:33] #77 closed

[2021-07-14 19:08] #64 closed

[2021-07-14 20:03] komish opened #93 "Properly parse `operator-sdk scorecard` return code to determine if a test failed"
In #92 we implemented a workaround that allows us to ensure we aren't prematurely terminating an `operator-sdk scorecard` check because we got a non-zero exit code from `operator-sdk`. The full discussion is in that issue.

Here is the corresponding RFE for operator-sdk such that we can remove this workaround and instead parse the return code.

https://github.com/operator-framework/operator-sdk/is

[2021-07-14 20:11] edreyer-1 commented on #12
/assign edreyer-1

[2021-07-14 21:03] #14 closed

[2021-07-15 14:20] vikasmulaje opened #96 "preflight check container registry_url should handle authorised image gracefully when not logged into registry"
[code]

When not logged into registry(podman login) can we just print the **not authorised please check if you are logged in to the registry** and avoid Actual container checking

[2021-07-15 14:27] vikasmulaje opened #97 "Using customised issue template for the repository"
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

While filing bugs/RFE if we have customised template it will be easier for Getting all the required information.
This will be helpful for identifying root cause and saves time for getting required information for debugging

[2021-07-15 14:28] komish opened #98 "Skopeo tag listing implementation does not properly strip digests from images"
The skopeo command does not want tags or digests when doing inspections. Our current implementation will strip a tag, but does not handle digest stripping which causes the check to fail.

The line that needs an update is here: https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/certification/internal/shell/skopeo.go#L16

We need to handle cases where the user provided an im

[2021-07-15 14:28] komish commented on #98
/kind bug

[2021-07-15 16:45] komish opened #99 "HasMinimalVulnerabilitiesCheck OVAL definitions may need to change based on the input image"
Mentioned in the 2021-07-15 community meeting, the OVAL file used for the HasMinimalVulnerabilitiesCheck will need to changed to match the underlying base image.

Currently we utilize the RHEL-8 definition (see https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/f1a21ac79bfc854639ffed1e7f4cbe0e526aa11d/certification/internal/shell/podman.go#L20-L21) in the current implementation

[2021-07-15 16:45] komish commented on #99
/kind feature

[2021-07-15 16:46] komish commented on #97
@vikasmulaje Thanks for filing this issue! I'll work on getting this adding ASAP.

/assign
/kind feature

[2021-07-15 17:04] bcrochet commented on #59
Any reason not to just start with opdev, and move if necessary?

[2021-07-15 18:18] komish commented on #59
@bcrochet Nope, that works for me. I'll move them now, and maybe get the automation hooked up so that they publish frequently.

I had initially created this issue before we started uploading preflight to opdev. Now that that's done, might as well put everything there.

I'll work on this.

/assign

[2021-07-15 18:35] skattoju commented on #87
will work on this

[2021-07-15 18:36] bcrochet commented on #87
/assign @skattoju

[2021-07-15 19:16] amisstea opened #100 "Preflight warns the user if they reference non-Marketplace images in a Red Hat Marketplace operator"
Users might unintentionally reference their published images in the connect registry and not realize it. There should be very obvious warnings when this occurs.

[2021-07-15 19:41] komish commented on #100
Hi there @amisstea!

Could you expand/clarify on this request a bit?

I'm understanding that you would like Preflight to include a check that evaluates bundle assets to see if any image references in those assets refers to assets that don't exist in the Marketplace catalogs. I'm not sure if that's the intention, though.

If you have a concrete example of a failure and success case, that'd help.

[2021-07-15 20:26] komish opened #104 "HasNoProhibitedPackagesCheck throws an error when the image does not have the `rpm` binary"
When running `check container` against UBI Micro (`registry.access.redhat.com/ubi8/ubi-micro@sha256:d389fa0cfee2091b3dd75a446fb982714db67bfb0916369f48985923890e2597`), the HasProhibitedPackages will fail because it cannot find `rpm`. We probably need to support cases where UBI Micro is used, and potentially need to fail gracefully in cases where an image that isn't RH*-based is used (though an err

[2021-07-15 20:26] komish commented on #104
/kind bug

[2021-07-16 12:48] #97 closed

[2021-07-16 13:51] komish commented on #96
/assign

[2021-07-16 16:04] komish opened #106 "Add an overall status of a policy execution to the results output"
## Is your feature request related to a problem? Please describe.
Yes, users need to parse 3 check lists to evaluate whether their preflight execution was successful.

## Describe the solution you'd like.
Add a key in the results that reflects the overall state of the policy execution

## Describe alternatives you've considered.
N/A

## Additional context.
Implementation detail note - though all f

[2021-07-16 16:42] komish commented on #33
I think this is implemented already (see https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/certification/internal/shell/validate_operator_bundle.go#L15).

Can either @samira-barouti @bcrochet double check me and confirm we are good to close this?

[2021-07-16 17:07] komish commented on #41
Duplicate of #35

[2021-07-16 17:07] #41 closed

[2021-07-16 20:28] #12 closed

[2021-07-19 13:13] #96 closed

[2021-07-19 13:15] #98 closed

[2021-07-19 13:24] itroyano opened #108 "Image size is pretty big"
## Bug Description
`REPOSITORY                                 TAG                                        IMAGE ID       CREATED          SIZE

quay.io/opdev/preflight                    f07567b6bd629c2275bb2a2d9a39d502d31c5789   e6a85a623c42   34 seconds ago   **699MB**`

## Steps to Reproduce:
make image-build

[2021-07-19 13:54] komish commented on #35
/assign

[2021-07-19 14:46] itroyano opened #109 "Pulling and unpacking an image fails when running Preflight as a container"
## Bug Description

Pulling and unpacking an image using `podmanEngine` fails when running Preflight as a container.

## Steps to Reproduce:

`docker run --env 'PFLT_LOGLEVEL=trace' quay.io/opdev/preflight:<my-local-tag>  check operator quay.io/itroyano/conjur-operator-bundle:v0.0.2`

`time="2021-07-19T12:58:51Z" level=error msg="unable to pull the container from the registry: failed to pull remot

[2021-07-19 15:25] bcrochet commented on #33
I will take this, and fix up the existing check to use the interface.

/assign

[2021-07-19 15:40] komish commented on #43
/assign rocrisp

[2021-07-19 15:49] komish commented on #43
Assign over to @rocrisp, thanks!

Some notes on what I'm expecting here - I'm thinking the easiest thing to do is to make that list available in each command's `--help` outputs. If you think this should live elsewhere, let us know!

Something like this might be the end result, where `CheckOne` and `CheckTwo` represent implemented checks for the requested policy (`container` or `operator):

[code]

[2021-07-19 16:50] edreyer-1 commented on #16
@komish I think that there have been a decent number of updates since this issue was posted so I don't think there are many checks that still do this. The only one that I found that still does this was the HasRequiredLabel check. Were there any other checks that I am missing?

[2021-07-19 18:20] komish commented on #16
Hey @edreyer-1, good catch. I'm only seeing one that needs addressing now. Here's the full list I checked, where unchecked means it needs addressing.

- [x] based_on_ubi
- [x] has_license
- [x] has_minimal_vulns
- [x] has_prohibited_packages
- [ ] has_required_labels
- [x] has_unique_tag
- [x] less_than_max_layers
- [x] runs_as_nonroot
- [x] scorecard_basic_check
- [x] scorecard_olm_suite
- [x] va

[2021-07-19 18:40] edreyer-1 commented on #16
/assign edreyer-1

[2021-07-19 18:58] zach-source commented on #100
So when the target catalog is the RH marketplace we should just issue a warning that describes the two scenarios. "We've detected images using registry.connect.redhat.com for a marketplace product. If you would like these images to be only accessible via marketplace pull secrets then please pin your images to registry.marketplace.redhat.com. Images pinned to the marketplace registry will be made a

[2021-07-19 20:35] edreyer-1 commented on #106
/assign edreyer-1

[2021-07-19 20:36] komish opened #113 "Restructure `validate_lib_version` to properly reflect all identifiable information"
## Is your feature request related to a problem? Please describe.
No. The goal is to reformat and rename `validation_lib_version`.

## Describe the solution you'd like.
Currently the Result struct contains the commit hash and version tag for the certification library. We've received a request to restructure this to look like the following:

[code]

This adds the validation library name - presumabl

[2021-07-19 21:50] rocrisp opened #115 "Scorecard : Misleading help text when the problem is cluster is not configured. One solution is to capture scorecard output for "Error: error running tests error creating ConfigMap Unauthorized". If the exact string is found, the replace the help suggestion to display, "You need to have a kubernetes cluster configured""
"errors": [
            {
                "name": "ScorecardBasicSpecCheck",
                "elapsed_time": "856.571621ms",
                "description": "Check to make sure that all CRs have a spec block.",
                "help": "Check ScorecardBasicSpecCheck encountered an error. Please review the artifacts/operator_bundle_scorecard_BasicSpecCheck.json file for more information."

[2021-07-20 13:04] itroyano opened #116 "Github "build" action needs to tag the image with semver/tag upon release, or sha for main build"
## Bug Description
`Tagging the built image with tags f07567b6bd629c2275bb2a2d9a39d502d31c5789,0.0.0
/usr/bin/buildah tag quay.io/opdev/preflight:f07567b6bd629c2275bb2a2d9a39d502d31c5789 quay.io/opdev/preflight:0.0.0`

## Expected Result
For a release: `Tagging the built image with tags 0.0.0`
For a non-release: `Tagging the built image with tags f07567b6bd629c2275bb2a2d9a39d502d31c5789`

## Addit

[2021-07-20 13:04] itroyano commented on #116
/assign itroyano

[2021-07-20 14:03] #16 closed

[2021-07-20 14:59] edreyer-1 commented on #106
Question - what are the different statuses we would want? I was originally thinking we would have a passing, failure, error.  Would there be any others we would want?

[2021-07-20 21:15] rocrisp commented on #34
Pyxis has an operator interface.

curl -X GET "https://catalog.redhat.com/api/containers/v1/operators/packages?include=data.package_name&page_size=500&page=1" -H  "accept: application/json"

I still need to get a grasp nf how to use the filter, but wondering if this is enough to get us started.

[2021-07-21 14:07] #33 closed

[2021-07-21 15:15] jomkz opened #119 "Do not generate log file when running help sub-command"
## Bug Description

When running `preflight help`, an empty log file is created.

## Version and Command Invocation

[code]

## Steps to Reproduce:

1) Build the preflight binary locally: `make build`
2) Run the help sub-command: `./preflight help`

## Expected Result

An empty log file should not be created when running the `help` sub-command.

## Actual Result

An empty log file named `preflight

[2021-07-21 18:28] rocrisp commented on #34
this command will return the operator in json format.
curl GET https://catalog.redhat.com/api/containers/v1/operators/packages?filter=package_name=="argocd-operator" -H  "accept: application/json"

{
  "data": [
    {
      "_id": "5e305ef85a1346687681e5a5",
      "association": "argocd-operator",
      "creation_date": "2020-01-28T16:19:04.819000+00:00",
      "last_update_date": "2020-01-28T16:1

[2021-07-21 18:38] #43 closed

[2021-07-21 20:00] #106 closed

[2021-07-21 21:07] komish commented on #119
This appears to be a regression: https://github.com/redhat-openshift-ecosystem/openshift-preflight/issues/30

[2021-07-21 21:33] tonytcampbell commented on #119
Is this causing any issues rather than being slightly annoying?  I think we fixed this in the past by initializing the logging in each subcommand which caused the logging init code to be sprinkled in multiple places.  Having that code in multiple places seems more annoying.

[2021-07-22 12:53] #11 closed

[2021-07-22 12:56] #87 closed

[2021-07-22 17:49] OchiengEd opened #125 "Write tests for the Golang bindings"
## Is your feature request related to a problem? Please describe.
No. This is to add test coverage for the golang bindings

## Describe the solution you'd like.
Add unit tests for the golang bindings in `certification/internal/bindings`

## Describe alternatives you've considered.
N/A

## Additional context.
N/A

[2021-07-23 15:40] #28 closed

[2021-07-26 14:18] jomkz commented on #119
This is not causing any issues, it's just slightly annoying.

[2021-07-28 12:59] #113 closed

[2021-07-29 15:56] skattoju commented on #25
/assign skattoju

[2021-07-29 16:30] #104 closed

[2021-07-29 20:32] #35 closed

[2021-07-29 20:35] komish opened #137 "Extend Podman interfaces to allow mounting an image instead of a container in unshare-based checks."
## Is your feature request related to a problem? Please describe.
Yes, when running checks for operator bundles, which are non-runnable container, I must fake-create the container in order to extract the bundle and perform my check.

Example: #124

## Describe the solution you'd like.
Instead, it would be ideal if we could mount the container image without running the container at all.

#126 imple

[2021-07-29 20:43] komish commented on #137
/assign

[2021-07-30 14:09] komish opened #138 "Adjust elapsed_time type in UserResponse struct to be a float representing milliseconds"
This is a `time.Duration` in our `Results` struct(1), but we represent this as a string to the user(2). We've received a request to represent this as a JSON number, and more specifically, milliseconds as a float.

(1): https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/certification/runtime/runtime.go#L20
(2): https://github.com/redhat-openshift-ecosystem/openshift-preflig

[2021-08-02 12:56] bcrochet commented on #137
I've already commented on the PR, but thought I should also put it here for easier discussion.

Is there a reason to keep the container mounting around? What use case is the container mount necessary rather than just the image mount. TBH, I would have just implemented it with the image mount had I realized it could be done with podman instaed of requiring buildah.

[2021-08-03 00:23] vikasmulaje opened #143 "Add Documentation about running go test for repository"
## Is your feature request related to a problem? Please describe.
No documentation found for running go tests it would be good to have

## Describe the solution you'd like.
Add Documentation for for running go tests
Ex: for e2e tests run command **go test -v \`go list ./... | grep -v e2e\`**
## Describe alternatives you've considered.
going to actions and copying test command go test -v $(go list

[2021-08-03 00:43] vikasmulaje opened #144 "Add BDD tests for new scenarios"
## Is your feature request related to a problem? Please describe.
Increase coverage of BDD tests
## Describe the solution you'd like.
Adding new BDD tests for newly added scenarios
Ex: https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/52
## Describe alternatives you've considered.
(A clear and concise description of any alternative solutions or features you've considered.)

##

[2021-08-03 00:43] vikasmulaje commented on #144
/assign

[2021-08-03 12:55] bcrochet commented on #144
Can we make these more specific? I like the idea of tracking the task, but without specifics, it will be hard to actually "close" this bug.

[2021-08-03 17:16] #115 closed

[2021-08-03 17:17] #137 closed

[2021-08-03 17:58] edreyer-1 commented on #138
/assign edreyer-1

[2021-08-04 17:02] komish commented on #144
IIRC The existing e2e tests _should_ be pulling in new checks as they get added. That said, some cases require more infrastructure than Github Actions currently have provisioned, which is currently the reason why we exclude them in our Actions.

+1 to what @bcrochet says. I'd like to see more scope definition here before implementation.

[2021-08-04 18:10] #34 closed

[2021-08-04 18:11] #60 closed

[2021-08-04 18:45] komish opened #149 "Check for Related Images Schema Version 2 should use Podman Unshare and the Mounted Engine"
## Bug Description
We currently end up with an `extracted-bundle` directory that is coming from the operator check called `RelatedImagesAreSchemaVersion2`.

This check currently "fake" runs the bundle in order to copy out the bundle to the caller filesystem.

## Version and Command Invocation
`preflight check operator <operator-bundle>`

## Steps to Reproduce:
Run the above against a bundle of you

[2021-08-04 18:46] #49 closed

[2021-08-04 19:50] bcrochet commented on #44
I'm closing this as NOTABUG.

[2021-08-04 19:50] #44 closed

[2021-08-04 20:00] #138 closed

[2021-08-06 01:22] #109 closed

[2021-08-11 10:30] vikasmulaje opened #158 "Unable to build container image for preflight using Dockerfile"
## Bug Description
Unable to build container image for preflight using Dockerfile in repo
getting error
**Error: error creating build container: Digest of source image's manifest would not match destination reference**

## Version and Command Invocation
(The output of `preflight --version`)
preflight version 0.0.0 <commit: c99008db6e84f07999c3bc86de9b20f0189208e2>

[root@vikasmulaje openshift-pref

[2021-08-11 19:14] komish commented on #25
@tonytcampbell where did we land on this?

[2021-08-12 03:43] bcrochet opened #161 "License check should validate file size"
Not only should preflight check for file or files in /licenses it should check that those files are not zero length, which would be a useless license.

[2021-08-12 10:24] vikasmulaje opened #162 "Add command line option -v -verbose to preflight"
## Is your feature request related to a problem? Please describe.
With current default log WARN we don't see any output when we run Preflight check for container/operator till the end result
for user it will look like command is stuck when on low network while downloading large images
## Describe the solution you'd like.
Add command line option -v(verbose) level which will override the default log

[2021-08-12 12:14] bcrochet commented on #158
Are you able to pull that particular SHA?

[2021-08-12 12:15] bcrochet commented on #162
You can also set PFLT_LOGLEVEL=trace. Is that sufficient?

[2021-08-12 12:53] vikasmulaje commented on #158
No, getting same error
podman pull quay.io/podman/stable@sha256:c281b604477e10e3e84f81af9b68db59ee616bf6a34391224e5e5c74db0428d0
Trying to pull quay.io/podman/stable@sha256:c281b604477e10e3e84f81af9b68db59ee616bf6a34391224e5e5c74db0428d0...ERRO[0003] Error pulling image ref //quay.io/podman/stable@sha256:c281b604477e10e3e84f81af9b68db59ee616bf6a34391224e5e5c74db0428d0: Digest of source image's man

[2021-08-12 13:16] vikasmulaje commented on #162
Thanks @bcrochet that helps. It would really come handy if we add verbose in preflight cli in future.
is there any documentation for PFLT_* flags?

[2021-08-12 14:48] vikasmulaje commented on #158
I tried in two machines
[code]

[code]

This works well in fedora 34 vagrant box.
Can we please mention supported podman version in requirements and close this issue?

[2021-08-12 15:00] skattoju commented on #161
/assign skattoju

[2021-08-16 12:52] bcrochet opened #165 "Preflight running in a container should not require privilege"
## Bug Description
Preflight when run in a container currently requires a privileged container. This should not be the case.

[2021-08-16 14:58] skattoju commented on #25
seems like the ubi check was removed from the ansible checks according to https://github.com/redhat-openshift-ecosystem/operator-test-playbooks/pull/31

[2021-08-17 13:15] vikasmulaje opened #169 "No logs found under artifacts directory after running preflight check operator"
## Bug Description
No logs found under artifacts directory after running preflight check operator
## Version and Command Invocation
preflight version 0.0.0 <commit: 3ebe6680764eb06051149c85e7a0001dc0a985b2>

## Steps to Reproduce:
(How can we reproduce this?)
1) run preflight check operator
2) check artifacts directory

## Expected Result
log files should be present under artificats directory

##

[2021-08-18 14:18] #158 closed

[2021-08-18 14:22] bcrochet commented on #169
That file will only be present if operator-sdk actually ran. Judging by the output on stdout, it does not look like it executed far enough to write that file.

[2021-08-18 14:24] bcrochet commented on #169
Can you manually try to run the operator-sdk scorecard to see what happens? Do you have a working cluster? Is your KUBECONFIG pointed to a valid kubeconfig?

[2021-08-18 14:37] bcrochet opened #170 "HasLicense check should use an Unshare environment"
A mounted Unshare environment should be used when possible.

[2021-08-19 15:17] vikasmulaje opened #172 "operator-sdk scorecard fails to pull images from registries"
## Bug Description
preflight uses operator sdk for running check: ScorecardOlmSuiteCheck
operator-sdk scorecard --output json --selector=suite=olm registry.connect.redhat.com/couchbase/operator-bundle@sha256:a2c9323d78e4a2e83810eb9df6e2f364356cd5432cee9bbd98c94784fbc27468
FATA[0007] error pulling image registry.connect.redhat.com/couchbase/operator-bundle@sha256:a2c9323d78e4a2e83810eb9df6e2f364356

[2021-08-19 15:28] vikasmulaje commented on #169
As per discussion with @bcrochet this needs a fix for help message when operator-sdk scorecard fails without generating any logs

[2021-08-19 15:37] bcrochet opened #173 "operator-sdk scorecard fails if the bundle does not container a config file"
## Bug Description
If a config file for scorecard is not included in the bundle, the tests fail.

We should just use our own config file, like https://github.com/redhat-openshift-ecosystem/operator-test-playbooks/blob/master/roles/operator_bundle_scorecard_tests/files/scorecard-basic-config.yml

[2021-08-20 15:25] Kuldip-Nanda opened #175 "Unable to create preflight container on PPC64LE"
## Bug Description
I am unable to build a preflight container on **PPC64LE architecture.** Please see below the output
[code]

On Investigating further in quay.io, I see `podman v3.2.2` as multiarch image in [c281b604477e](https://quay.io/repository/containers/podman/manifest/sha256:c281b604477e10e3e84f81af9b68db59ee616bf6a34391224e5e5c74db0428d0) with ppc64le implemented as https://quay.io/reposi

[2021-08-23 08:05] vikasmulaje opened #177 "Add validations to preflight support command input"
## Bug Description
Add validations to preflight support command
## Version and Command Invocation
preflight version 0.0.0 <commit: d4bb7e51f6d8de312cce5ca01a202355b26b0d21>

## Steps to Reproduce:
(How can we reproduce this?)
1) Run preflight support command
2) It takes blank inputs, spaces, illegal characters
3)

## Expected Result
preflight support should have input validations for accepting cor

[2021-08-23 12:24] itroyano commented on #78
@samira-barouti  The DeployableByOLM test you've added,  adds a framework for interacting with OLM and Catalog.
does it simplify implementing the above?
(please see main yaml Ansible role in the link)

[2021-08-23 15:32] samira-barouti commented on #78
@itroyano The Deployable By OLM check adds k8s clients to interact with API server and create custom resources (CatalogSource, OperatorGroup and Subscription). However, it does not perform index image creation from the bundle; the hosted pipeline is taking care of this activity and will set environment variable to pass along the index image URI to the preflight.

[2021-08-24 13:51] itroyano commented on #116
/merged

[2021-08-24 13:51] #116 closed

[2021-08-25 14:00] itroyano commented on #78
/descoped.
per Brian Cook this isn't required to be a standalone test, when Depoyable By OLM exists.

[2021-08-25 14:00] #78 closed

[2021-08-25 14:14] bcrochet commented on #149
This is solved by moving to Crane in #174

[2021-08-25 14:14] #149 closed

[2021-08-25 14:18] bcrochet commented on #99
Going to disable this check for now.

[2021-08-25 15:53] bcrochet opened #181 "[CRANE] OperatorPkgNameIsUnique to CraneEngine"
Move the OperatorPkgNameIsUnique to the Crane engine

[2021-08-26 00:28] samira-barouti opened #184 "Migrate Deployable by OLM to Crane"
## Bug Description
Migrate the Deployable by OLM check to Crane and increase the unit testing code coverage

## Version and Command Invocation
(The output of `preflight --version`)

## Steps to Reproduce:
(How can we reproduce this?)
1)
2)
3)

## Expected Result
(What did you expect to happen and why?)

## Actual Result
(What actually happened)

## Additional Context
(Anything else you think might

[2021-08-26 19:48] komish opened #185 "Related Image Schema v2 check should automatically pass on an image that is already certified by Red Hat"
## Describe the solution you'd like.
This check parses all related images and tries to confirm that their manifest reflects schemaVersion: 2.

If a related image has already been certified (i.e. exists in Red Hat's certified registries), we should assume that the image passes this validation (i.e. we don't need to re-check it).

With this in mind, it might make sense that we check the images that

[2021-08-30 14:17] #177 closed

[2021-08-31 00:05] bcrochet opened #187 "container-passes.Dockerfile does not copy the license properly"
## Bug Description
When building a test container to pass the container checks, the Dockerfile is supposed to create a licenses directory, but instead it copies the example license file to a file named /licenses, instead of inside the /licenses/ directory.

[2021-08-31 12:27] #181 closed

[2021-08-31 12:31] rocrisp commented on #143
/assign rocrisp

[2021-08-31 12:52] bcrochet opened #189 "RelatedImageSchemaVersion unit test is failing on an incorrect assertion"
## Bug Description
The assertion should read BeEmpty, not BeNil.

[2021-08-31 12:59] #189 closed

[2021-08-31 17:11] rocrisp commented on #175
/assign rocrisp

[2021-09-01 18:01] samira-barouti opened #198 "Add unit tests for DeployableByOLM Check"
## Bug Description
Add unit tests for DeployableByOLM Check

## Version and Command Invocation
(The output of `preflight --version`)

## Steps to Reproduce:
(How can we reproduce this?)
1)
2)
3)

## Expected Result
(What did you expect to happen and why?)

## Actual Result
(What actually happened)

## Additional Context
(Anything else you think might help us troubleshoot, like your platform, depen

[2021-09-01 18:08] #187 closed

[2021-09-01 18:10] #143 closed

[2021-09-01 19:40] acornett21 commented on #119
This looks to be because `init()` is always called no matter the command passed in. I'll take a look at fixing this.

[2021-09-01 19:40] acornett21 commented on #119
/assign

[2021-09-02 00:45] #184 closed

[2021-09-02 11:10] Allda opened #201 "Extend test result schema with "tested_on" field"
## Is your feature request related to a problem? Please describe.
Red Hat Connect SPA needs to display information about the cluster which was used to run a preflight test. This value should be generated by preflight tests and stored in a test result json output.

## Describe the solution you'd like.
The schema for test results is extended to populate a new field "tested_on". More info about the f

[2021-09-02 12:53] samira-barouti opened #202 "Migrate LayerCountAcceptable Check to Crane"
## Bug Description
Migrate LayerCountAcceptable Check to Crane

## Version and Command Invocation
NA

## Steps to Reproduce:
NA

## Expected Result
NA

## Actual Result
NA

## Additional Context
NA

[2021-09-02 17:51] #119 closed

[2021-09-02 21:05] rocrisp commented on #175
Hi Kuldip, I want to try to debug the issue but I'm having trouble getting a linux/ppc64le box to do so. I know this is a long shot but do you have a box that I can use?
Thank you,
Rose

[2021-09-02 21:20] komish opened #204 "Allow preflight to target container registries requiring authentication for image pulling and any checks"
## Is your feature request related to a problem? Please describe.
Yes, Preflight, utilizing Crane, does not allow for interacting with registries behind authentication.

## Describe the solution you'd like.
To allow for cases where we need to authenticate to multiple registries, we should accept an environment variable `PFLT_REGISTRY_CREDENTIAL` that points to a /path/on/disk/dockerconfig.json-sty

[2021-09-03 13:53] rocrisp commented on #169
/assign sfcrisp

[2021-09-03 13:55] rocrisp commented on #169
/assign rocrisp

[2021-09-03 14:21] #165 closed

[2021-09-03 16:01] komish commented on #204
/assign

[2021-09-03 17:12] #202 closed

[2021-09-07 14:38] #204 closed

[2021-09-07 15:38] rocrisp opened #212 "failed to create artifacts directory"
## Bug Description
Preflight fails to run because it's looking for artifacts dir to be present.

## Version and Command Invocation
preflight version 0.0.0 <commit: d6389c597717aabbce381ab6a9c2047717d781eb>

## Steps to Reproduce:
(How can we reproduce this?)
1) ./preflight check operator <bundle image>

## Expected Result
Able to execute and display output

## Actual Result
Error: open artifacts/r

[2021-09-07 15:38] rocrisp commented on #212
/assign rocrisp

[2021-09-07 16:02] komish opened #213 "Failed to pull image manifest v1"
## Bug Description
Preflight (i.e. crane) does not support pulling images of manifest schema version 1.
There may not be an action for us with regards to this, but I'm opening this issue to ensure that this error is intended and will work for our use cases.

## Version and Command Invocation

[code]

[code]

## Additional Context

The log output received was as follows:

[code]

[2021-09-07 18:46] rocrisp opened #216 "Output not formatted when error creating ConfigMap"
## Bug Description
Output  is not formatted when the cluster is not owned by kubeadmin. In this case, it owned by system:anonymous.

## Version and Command Invocation
preflight version 0.0.0 <commit: d6ea2fbf6472c69584c80ab197297761c714a67a>

## Steps to Reproduce:
(How can we reproduce this?)
1) logout from the cluster
2) on the command line, execute ./preflight check operator quay.io/rocrisp/pre

[2021-09-08 10:10] vikasmulaje opened #217 "preflight fails to pull images from private registries if logged in with podman login registry"
## Bug Description
preflight will not pull images from private registries if logged in with podman login registry

## Version and Command Invocation
preflight version 0.0.0 <commit: a0cde2d821c8d29a15ac63c30c95252f18a0cfa5>
preflight check container registry.connect.redhat.com/mongodb/enterprise-database:latest
## Steps to Reproduce:
(How can we reproduce this?)
1) podman login registry.connect.re

[2021-09-08 13:19] komish opened #219 "DeployableByOLM panics when reaching time out checking for Subscription.status.installedCSV"
## Bug Description
The DeployableByOLM will throw a stack trace while checking the Subscription.status.installedCSV does not reach the desired state in time.

I _believe_ this may be related to the go function checking for the readiness in the subscription not halting once we reach timeouts, or timeouts not propagating cancellation across timeouts.

## Version and Command Invocation

Git commit ha

[2021-09-08 13:32] komish commented on #217
We rely on the `$DOCKER_CONFIG/config.json` path because underlying implementation details support this. We may consider supporting the ${XDG_RUNTIME_DIR}/containers/auth.json path in the future. In the meantime, however, you should be able to do something like:

[code]

Should work?

[2021-09-08 14:30] vikasmulaje commented on #217
Yes that works.
Can we document this till we implement it? I can see podman users are increasing day by day so it will be really hady for them if we add this

[2021-09-08 16:43] bcrochet commented on #125
This will not be necessary once deprecated code is removed. We are moving away from using podman and docker directly.

[2021-09-08 16:43] #125 closed

[2021-09-09 06:40] vikasmulaje commented on #175
@rocrisp If you are still looking for  linux/ppc64le machine I can arrange one
Thanks

[2021-09-09 13:22] acornett21 opened #224 "preflight process does not complete when running in a container"
## Bug Description
When running preflight in a container on a cluster, `check operator` process does not complete. It appears to be an issues with the MD5 hash logic based on the logs

## Version and Command Invocation
(The output of `preflight --version`)

## Steps to Reproduce:
(How can we reproduce this?)
1) Deploy preflight to an cluster OpenShift cluster
2) Run `oc rsh <pod-name>`
3) Run `pre

[2021-09-09 13:22] acornett21 commented on #224
/assign

[2021-09-09 16:56] #212 closed

[2021-09-09 17:00] rocrisp commented on #216
Duplicate of #169.

[2021-09-09 17:00] #216 closed

[2021-09-09 18:41] komish opened #225 "Change `bundle_hash` in results to instead be `certification_hash`"
## Bug Description
The API that will receive the results submission has the value of our bundle hash under the key `certification_hash`. Preflight needs to change this to facilitate result submission.

https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/4a625234b2b8057a9c7be2eb73d7154bae08ae70/certification/formatters/util.go#L69

## Expected Result
A result blob that looks like

[2021-09-09 18:41] komish commented on #225
/cc @acornett21

[2021-09-09 18:47] acornett21 commented on #225
/assign

[2021-09-09 19:03] #219 closed

[2021-09-09 20:06] komish commented on #225
/assign

[2021-09-09 22:47] #224 closed

[2021-09-09 22:55] #225 closed

[2021-09-10 13:10] komish commented on #185
This check is no longer in scope, which makes this issue obsolete. Closing!

[2021-09-10 13:10] #185 closed

[2021-09-10 13:12] komish commented on #162
@vikasmulaje This has been documented here: https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/docs/CONFIG.md.

Does the PFLT_LOGLEVEL option resolve this issue sufficiently? I'm not sure we want to add flags for things that are already configurable in the environment.

[2021-09-10 13:28] komish commented on #42
@bcrochet Is this still relevant or can we close?

[2021-09-10 13:29] komish commented on #25
Hey @skattoju do you happen to know where we landed on this? Can it be closed?

[2021-09-10 13:41] bcrochet commented on #42
This should have closed with the code removal.

[2021-09-10 13:41] #42 closed

[2021-09-10 13:42] bcrochet commented on #42
Fixed by #221

[2021-09-10 13:50] rocrisp commented on #175
@rpsene Just want to report back that I'm on the VM.. took a bit to get started. Thank you.

[2021-09-10 14:03] komish opened #235 "Preflight on MacOS does not write data to `$PFLT_ARTIFACTS/hashes.txt`"
## Bug Description
When running operator checks using preflight on MacOS, the artifacts/hashes.txt does not have any data.

## Version and Command Invocation
$ ./preflight --version
preflight version 0.0.0 <commit: 075d9206a8cfaede80c47d0d266e9abb84ca5b3e>

## Steps to Reproduce:
On MacOS:
1) Run `preflight check operator <operator>` successfully (e.g. with KUBECONFIG and PFLT_INDEXIMAGE set)
2) O

[2021-09-10 14:19] skattoju commented on #25
We said we will just check tags and /etc/os-release for now and add the
layer checking later but I believe this is still needed.

On Fri, Sep 10, 2021 at 9:29 AM Jose R. Gonzalez ***@***.***>
wrote:

[2021-09-10 18:22] komish opened #241 "Consider migrating to UBI"
## Describe the solution you'd like.
We no longer depend on podman, so we probably don't need to ship the preflight container based on the podman image anymore.

[2021-09-10 18:38] komish commented on #108
#241 might help with this.

[2021-09-10 19:07] #217 closed

[2021-09-10 21:29] #235 closed

[2021-09-13 14:20] bcrochet commented on #241
+1

[2021-09-13 14:23] bcrochet opened #243 "HasUniqueTag check needs to migrate away from Skopeo"
## Bug Description
This is the last check that does not use Crane directly. It will either need access to Crane (to call ListTags) or have the tags passed in via the ImageReference.

[2021-09-13 16:57] acornett21 commented on #241
/assign

[2021-09-13 17:18] komish opened #245 "DeployableByOLM fails in k8s use cases if images are private"
## Bug Description
If the bundle image and/or index image are in a private registry, the DeployableByOLM check will fail to successfully execute.

## Version and Command Invocation
Preflight version is bf7386394b9db59ca9020b0d5363ac75

## Steps to Reproduce:
I've only experienced this while running Preflight in k8s as a job, but it may be reproducible otherwise. The basic steps look something like

[2021-09-13 19:24] #241 closed

[2021-09-13 19:48] acornett21 opened #249 "ValidateOperatorBundle check fails when upgrading to latest operator-sdk version"
## Bug Description
When updating the docker image to use the latest version of operator-sdk (1.12.0) ValidateOperatorBundle fails.

## Version and Command Invocation
`preflight version 0.0.0 <commit: add6ad7145fe371d80ccd23b546b1f9dda68a4c7>`

## Steps to Reproduce:
(How can we reproduce this?)
1) Update the docker image to use operator-sdk version 1.12.0
2) Run `preflight check operator quay.io/b

[2021-09-13 20:24] bcrochet commented on #249
Looks like operator-sdk added a new test that the old bundle resources fail now. I think the actual issue here is that the output from operator-sdk (that explains the failure) was not shown to the user.

[2021-09-13 20:45] acornett21 commented on #249
/assign

[2021-09-13 20:52] acornett21 opened #253 "Update to use the latest operator-sdk version"
To keep preflight current, the version of operator-sdk that is being used in the docker file should be updated.

[2021-09-13 20:52] acornett21 commented on #253
/assign

[2021-09-14 10:53] #249 closed

[2021-09-14 17:43] acornett21 opened #256 "move away from using podman in operatork-sdk bundle validate cmd"
Currently for `ValidateOperatorBundle` preflight is passing in `podman` as an argument, even though the bundle has already been pulled/extracted/etc. Since the bundle files are already on disk, we can use `none` as an argument.

[2021-09-14 17:43] acornett21 commented on #256
/assign

[2021-09-14 18:01] #256 closed

[2021-09-14 18:01] #253 closed

[2021-09-14 22:21] #243 closed

[2021-09-14 22:28] bcrochet commented on #108
What's our cutoff? I think we're down to 200M or so. Is that small enough?

[2021-09-14 22:37] acornett21 commented on #201
/assign

[2021-09-15 15:26] bcrochet opened #263 "Make preflight more robust when cleaning up"
## Bug Description
Preflight needs to be more robust when it comes to cleaning up after itself, especially in the cluster arena.

For instance, DeployableByOLM attempts to clean up, but does not check that it does so. It also may not handle a transient API error.

So, for this particular bug, a focus on DeployableByOLM should be the first place. If other locations in the code are identified for cl

[2021-09-15 15:58] komish commented on #263
this effort also needs to review whether or not we clean up CSVs on tear down. I'm thinking we may be leaving CSVs behind.

[2021-09-15 21:34] #198 closed

[2021-09-21 17:39] rocrisp commented on #175
The bug has been validated and we are in the progress of  fixing this problem.
Multi-arch includes amd64, arm64, s390x and ppc64le.

[2021-09-21 17:41] rpsene commented on #175
@rocrisp thanks a lot!

[2021-09-22 12:38] tkrishtop opened #268 "Is it possible to get junitxml output format back?"
## Is your feature request related to a problem? Please describe.
In the past, preflight tool generated output both in json and junit. The plan was to use that while running preflight checks with DCI. DCI UI is able to parse junit and to display failed and passed tests in a nice way.

Unfortunately, junit format was removed: https://github.com/redhat-openshift-ecosystem/openshift-preflight/commit/

[2021-09-22 12:40] tkrishtop commented on #268
@komish opening an issue as discussed.

[2021-09-22 13:36] bcrochet commented on #268
Is it sufficient to write to a junitxml file in the artifacts dir?

[2021-09-22 14:09] tkrishtop commented on #268
hi @bcrochet

yes, that would be a perfect solution for our needs.

[2021-09-22 22:18] bcrochet commented on #268
@tkrishtop Would love to get your feedback on the PR.

[2021-09-24 10:00] tkrishtop opened #273 "Have failing command clearly written in the debug logs"
## Bug Description
Hi team,
I'm using DCI pipeline to run preflight tests on openshift cluster. Some tests are passing and some failing with different timeouts.
To investigate the issues, it would be nice to have the failing command and corresponding config clearly written in debug logs.

## Actual Result
For the moment it looks like this, difficult to reconstruct the command and hence difficult t

[2021-09-24 13:10] #268 closed

[2021-09-24 13:14] rocrisp commented on #273
Hi Tatiana, I'm glad to help.
Looks to me like you're not logged in to a cluster hence operator scorecard
is failing to run. Do you have operator-sdk installed on your machine, if
so, can you run it like this,
operator-sdk scorecard quay.io/rh-nfv-int/testpmd-operator-bundle:v0.2.9 and
see if that fails to run.

Thank you,
Rose

On Fri, Sep 24, 2021 at 6:01 AM Tatiana Krishtop ***@***.***>
wrote:

[2021-09-24 13:21] rocrisp commented on #273
Also, your recommendation to clean up the output was submitted as a PR and
waiting to be merged. Thank you.

On Fri, Sep 24, 2021 at 9:13 AM Rose Crisp ***@***.***> wrote:

[2021-09-24 14:31] komish commented on #273
Commands that are shelled out (e.g. operator-sdk) should have their invocations printed to the log if `PFLT_LOGLEVEL=trace`. Can you confirm and let us know if that does that resolve this issue?

[2021-09-24 16:17] tkrishtop commented on #273
Hi @komish thank you, I confirm that the command is displayed with loglevel=trace. I will close the issue.

[code]

[2021-09-24 16:17] #273 closed

[2021-09-27 07:40] tkrishtop opened #274 "Have unique name for preflight.log to simplify subsequent tests for different operators in the same volume"
## Is your feature request related to a problem? Please describe.
I run in a row two `check container` and then one `check operator` in the same volume. Each test produces files named `preflight.log`, `results.json`, i.e. output file names are not unique. As a result, each test rewrites the results of the previous tests for _another_ container/operator.

The issue is the same for all output files:

[2021-09-27 18:48] komish commented on #274
I believe that, by default, `preflight` should be writing to paths relative to `$PWD`. The preflight container, today, may having a working directory at `/` if I remember correctly.

Would either of the below work for you?
1) Making and `cd`ing to the directories before calling preflight, assuming you're not directly invoking our image but are instead using preflight in a script, or as a base imag

[2021-09-29 12:51] tkrishtop opened #275 "Have --verbose and --wait-time flags exposed for operator-sdk scorecard inside preflight to simplify debug"
## Is your feature request related to a problem? Please describe.
I debug the scorecard command by preflight
[code]

Here is the current error output I have, and it's not enough for me to debug properly. I'd like to have more logs and more time to connect to my cluster and check failing pods and their logs

[code]

## Describe the solution you'd like.
I'd like to have:
- `--verbose` flag to be exp

[2021-09-29 13:05] tkrishtop opened #276 "[Disconnected env] Have --config flag to be exposed by preflight to allow custom config for scorecard"
## Is your feature request related to a problem? Please describe.
Preflight automatically generates operator-sdk scorecard config `scorecard-test-config.yaml` which contains images like `quay.io/operator-framework/scorecard-test:master`.
I work from disconnected environment where I can't pull external-registry images, I always have to pull from my local registry.

## Describe the solution you'd li

[2021-10-01 11:12] vikasmulaje opened #279 "Operator scorecard test fails with timeout when docker.io/busybox:1.33.0 pull limit reached for the day"
## Bug Description
Operator scorecard test fails with timeout error

## Version and Command Invocation
preflight -v
preflight version 0.0.0 <commit: 333adaf7672ba41988bd9ad75dc6da2cba6974b2>

## Steps to Reproduce:
(How can we reproduce this?)
1)  preflight check operator quay.io/opdev/simple-demo-operator-bundle:v0.0.2
2)
3)

## Expected Result
Scorecard test should pass

## Actual Result
`[vagra

[2021-10-01 13:01] komish opened #280 "Code Cleanup internal/bindings"
The **certification/internal/bindings** package can probably be removed at this point, given that we don't use any podman/docker in favor of Crane.

Just need to confirm that there are no other locations where this code is being used.

[2021-10-01 13:03] komish commented on #280
Disregard - looking at an older fork! My bad.

[2021-10-01 13:03] #280 closed

[2021-10-01 13:40] komish commented on #276
For context - here are the current Scorecard-related checks we use today:

- ScorecardBasicSpecCheck
- ScorecardOlmSuiteCheck

These are two of the built-in checks made available in the provided Scorecard image `quay.io/operator-framework/scorecard-test`, executed individually to comply with Preflight's approach to executing these tests.

I'm not sure it makes sense for preflight to accept an arbi

[2021-10-01 13:55] tkrishtop commented on #276
Hi @komish thank you for the reply.
Yes, we could have scorecard images to be downloaded from local registry by using imageContentSourcePolicy. For that, we'd need two things:
- to have a way to retrieve preflight scorecard config (to extract a list of scorecard images to mirror), or to get directly the list of scorecard images to mirror
- the scorecard images in the config should use sha and not

[2021-10-01 14:07] komish commented on #275
Adding the `--verbose` flag should be covered in #281.

The `--wait-time` seems reasonable as well, but it's not currently a preexisting configuration, so we'll need to look at this closer and see if there are other timeouts we need to synchronize for this test.

[2021-10-04 14:32] samira-barouti opened #283 "DeployableByOLM fails if the index image is in openshift internal registry"
## Bug Description
While running the preflight, preflight fails if the index image is in openshift internal registry.

## Version and Command Invocation
(The output of `preflight --version`)

## Steps to Reproduce:
(How can we reproduce this?)
1) Upload an index image in the openshift internal registry
2) Run preflight

## Expected Result
DeployableByOLM should pass this check.

## Actual Result
D

[2021-10-04 14:44] tonytcampbell commented on #283
Because the internal OpenShift registry is namespace/project aware, you can not access images across namespaces/projects by default.  Explicit permission needs to be granted for cross project image pulls.  So if an image is pushed in Project A it cannot be pulled from Project B unless permission is granted.

Specifically in this case.  The Preflight Service Account will need permission to pull ima

[2021-10-04 15:59] tkrishtop commented on #276
Hi @komish

On my side I see two possible solutions, and the choice depends on the fact if you want to fix [the images hardcoded here or not](https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/23f115c8df75ee3543c16f366fa5cd5de42a3172/test/containerfiles/failed-bundle-assets/tests/scorecard/config.yaml#L11)

1/ If the idea is to fix them and never change, then you might want to

[2021-10-04 17:33] tkrishtop commented on #279
I have similar issue on openshift cluster in disconnected env when running `operator-sdk scorecard` directly

[code]

[2021-10-04 18:40] komish commented on #276
I think option 2 seems like a workable solution. Preflight could add some subcommand that returns contextual information regarding images we use at runtime so that, as long as these environments that need it run the same version of preflight during disconnected environment initialization as during testing, you should have the right images mirrored.

We would have to make sure that we change image

[2021-10-04 20:54] #245 closed

[2021-10-05 14:50] tonyskapunk commented on #279
Seems like the newest release of operator-sdk [1.13.0 has removed the busybox image](https://github.com/operator-framework/operator-sdk/releases/tag/v1.13.0)

https://github.com/operator-framework/operator-sdk/pull/5191

This makes me wonder if there is going to be any mapping of a preflight release to a operator-sdk release of some sort.

The change on image should mitigate the limit threshold im

[2021-10-05 17:11] komish opened #284 "`DOCKERCONFIG` should be `PFLT_DOCKERCONFIG` and should not be required"
## Bug Description
PR #282 resolves an issue with private registry access when running the DeployableByOLM check by pushing an explicitly provided dockerconfigjson file to the cluster so that the CatalogSource can pull from a private registry.

With that said, it is **now** required and it should not be. If a user does _not_ set this environment variable, preflight currently exits with an error.

[2021-10-05 17:12] komish commented on #284
The naming should be `PFLT_DOCKERCONFIG` just to help disambiguate between that and the standard `DOCKER_CONFIG` variable (and their respective purposes and formats).

[2021-10-05 17:16] komish commented on #276
/assign

[2021-10-05 18:41] #284 closed

[2021-10-05 21:18] #276 closed

[2021-10-07 20:42] tchughesiv opened #289 "BasedOnUbi fails when checking a ubi8 layered image"
## Bug Description
`BasedOnUbi` fails when checking a ubi8 layered image.

## Version and Command Invocation
preflight version 0.0.0 <commit: 406f54f7aba2c59f5d79b5a10031af415b7c66bc>

## Steps to Reproduce:
(How can we reproduce this?)
1) `$ preflight check container registry.access.redhat.com/ubi8/nodejs-14-minimal:1`

## Expected Result
I'd expect the `BasedOnUbi` check to PASS

## Actual Resul

[2021-10-07 20:50] tchughesiv opened #290 "HasUniqueTag errors when checking a properly tagged ubi8 image"
## Bug Description
`HasUniqueTag` errors when checking a properly tagged ubi8 image.

## Version and Command Invocation
preflight version 0.0.0 <commit: 406f54f7aba2c59f5d79b5a10031af415b7c66bc>

## Steps to Reproduce:
(How can we reproduce this?)
1) `$ preflight check container registry.access.redhat.com/ubi8:8.4`

## Expected Result
I'd expect the `BasedOnUbi` check to PASS

## Actual Result
[co

[2021-10-08 18:03] #289 closed

[2021-10-11 13:27] #290 closed, assigned to nobody

[2021-10-15 15:08] acornett21 opened #293 "preflight fails DeployableByOLM check for operator with installMode of AllNamespaces"
## Bug Description
When running `preflight check operator` against an operator that only has an installMode of `AllNamespaces` the DeployableByOLM check fails even though, this operator can be installed by OLM via the embedded OperatorHub.

## Version and Command Invocation
`preflight version 0.0.0 <commit: b11314a6b9603ba53d88826888c9856a738161b8>`

## Steps to Reproduce:
(How can we reproduce th

[2021-10-15 19:12] samira-barouti commented on #293
Thank you Adam for opening this issue. Currently, preflight only supports OwnNamespace InstallMode. To support other types on InstallMode, the code needs to change to read the clusterserviceversion file and fetch all the supported InstallModes. The operator group's targetNamespace must be adjusted accordingly.

@tonytcampbell I was wondering If a CSV has multiple supported InstallModes, do we need

[2021-10-18 16:11] bcrochet opened #294 "Operator SDK needs to be updated to 1.13.1"
To be in sync with CVP, the operator sdk version should be 1.13.1.

[2021-10-18 16:13] bcrochet opened #295 "Validate Bundle needs an update"
https://github.com/redhat-openshift-ecosystem/operator-test-playbooks/commit/6440fb6fe8a8f4d0d26e0c362514b0376c56c4fc

The commit to CVP updated the Validate Operator Bundle. Preflight's check needs to be updated as well.

[2021-10-19 11:59] #294 closed

[2021-10-20 14:22] vikasmulaje opened #298 "BasedOnUbi fails with certified image registry.connect.redhat.com/crunchydata/crunchy-backup:ubi7-12.2-4.2.2"
## Bug Description
BasedOnUbi fails with certified image registry.connect.redhat.com/crunchydata/crunchy-backup:ubi7-12.2-4.2.2

## Version and Command Invocation
 ./preflight -v
preflight version 0.0.0 <commit: c38073441acbcbc42fb3919872935eba63f7f262>

## Steps to Reproduce:
(How can we reproduce this?)
1) ./preflight check container registry.connect.redhat.com/crunchydata/crunchy-backup:ubi7-12

[2021-10-20 19:59] #295 closed, assigned to bcrochet

[2021-10-20 21:17] #298 closed, assigned to samira-barouti

[2021-10-25 19:07] bcrochet opened #305 "Preflight build-release action needs version support"
## Bug Description
(A clear and concise description of the issue)
The version reported in preflight -v is not  being pulled from the release tag.
## Version and Command Invocation
(The output of `preflight --version`)

0.0.0 -> should be the current tag

[2021-10-26 16:54] tkrishtop opened #307 "[ScorecardOlmSuiteCheck] File operator_bundle_scorecard_OlmSuiteCheck.json is absent"
## Bug Description
File operator_bundle_scorecard_OlmSuiteCheck.json mentioned in results.json is absent in /artifacts

## Version and Command Invocation
The latest preflight master + operator-sdk latest master inside: `docker.io/sbarouti/preflight:operator-sdk`

## Steps to Reproduce:

1) The command to run:

[code]

2) results.json mentions that there is more info in artifacts/operator_bundle_sc

[2021-10-27 11:30] bcrochet opened #309 "Remove usage of GetConfigOrDie"
## Bug Description
(A clear and concise description of the issue)

The usage of GetConfigOrDie is not what we want to do. This will cause the entire preflight run to halt. These means incomplete results. Let's use GetConfig() instead, and handle the error.

[2021-10-27 12:17] #309 closed, assigned to bcrochet

[2021-10-27 13:19] #305 closed, assigned to bcrochet

[2021-10-27 18:38] samira-barouti opened #313 "DeployableByOLM does not output the artifacts in the format of yaml manifest"
## Bug Description
Once the execution of DeployableByOLM is over, the check dumps the created resources (such as operator group, catalogsource and subscription) in the artifact directory before the clean up. The artifacts are not in the yaml manifest format.

## Version and Command Invocation

## Steps to Reproduce:
1) Run `check operator`
2) Wait for deployable by OLM to finish
3) check artifact

[2021-10-28 18:32] #313 closed, assigned to samira-barouti

[2021-10-28 20:24] samira-barouti opened #317 "Replace dynamic k8s clients with typed clients"
## Bug Description
DeployableByOLM is using dynamic clients to interact with API server. Dynamic clients are not type-safe and the code is hard to read/maintain. Since the Go types for the CRD resources exist, it is recommended to replace the dynamic clients with custom go clients.

## Version and Command Invocation
1.0.1

## Steps to Reproduce:
(How can we reproduce this?)
1) N/A

## Expected Res

[2021-10-28 22:38] wying3 opened #318 "Failed to pull container image"
this is running Preflight as standalone on local cluster (parnter on-prem env),

$preflight check container  image-registry.openshift-image-registry.svc:5000/openshift/necc:CMMxx.x.x_xx_xxxx
Error: failed to pull remote container: Get https://image-registry.openshift-image-registry.svc:5000/v2/: x509: certificate signed by unknown authority

Question: why it need to pull the image as image is alre

[2021-10-29 20:14] #317 closed

[2021-11-01 14:27] bcrochet commented on #318
The image is being pulled locally in order for us to unpack and inspect it. Thank you for exposing the fact that we don't currently support self-signed certs on a registry. We will take a look at how to solve this.

[2021-11-02 16:21] tkrishtop opened #324 "Could we have time exposed in results-junit.xml to be in seconds as required by junit format?"
## Bug Description
[Junit format requires time to be in seconds](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd#L130), but preflight is using the minute-second format in results-junit.xml.

[code]

We have `time="2m52.841440984s"` but, according to junit format, we should have `time="172.841440984"`.

[That causes a bug in the DCI pipeline display](https://www.distributed-ci.io/jo

[2021-11-03 14:10] tkrishtop commented on #275
Hi team, I was opening this issue while testing preflight v0.0.0, and my main concern was that the preflight was failing too fast for me to debug manually. Now, with preflight v1.0.3, I have an impression that all time-related concerns are managed in a better way, and I also found how to retrieve the logs from my cluster in an automated way during the preflight execution.

So exposing the `--wait-

[2021-11-03 14:13] tkrishtop commented on #162
hi @vikasmulaje it seems like your request was covered in #281

[2021-11-03 15:24] #275 closed

[2021-11-03 16:39] tkrishtop opened #326 "Preflight reports failed scorecard-sdk tests as "errors" and not as "failed" if there is a non-zero error field"
## Bug Description

I'm testing operator testpmd:
bundle image: `quay.io/rh-nfv-int/testpmd-operator-bundle:v0.2.9`
index image: `quay.io/tkrishtop/index-testpmd-operator-bundle:v0.2.9`

[The command `operator-sdk scorecard --selector=suite=olm`](https://www.distributed-ci.io/files/405aff27-085a-4274-8e09-25ef1261f9c9) reports several failed tests: olm-crds-have-validation-test, olm-status-descrip

[2021-11-03 16:40] tkrishtop commented on #326
cc @samira-barouti

[2021-11-03 17:43] yashoza19 opened #328 "Operator check failed on ValidateOperatorBundle"
## Bug Description
Result.json shows an error on ValidateOperatorBundle check.

`time="2021-11-03T12:57:48-04:00" level=info msg="check completed: ValidateOperatorBundle" ERROR="failed to run operator-sdk bundle validate: exit status 1" result="failed to run operator-sdk bundle validate: exit status 1"`

It doesn't provide complete information on why it's failing without using the `PFLT_LOGLEVEL=t

[2021-11-03 17:44] yashoza19 commented on #328
cc: @bcrochet

[2021-11-03 20:24] tkrishtop commented on #324
Hi, @bcrochet thank you for the fix! I tested it, total elapsed time now looks fine but the time for each unit test is still in the previous format <testcase classname="quay.io/rh-nfv-int/testpmd-operator-bundle@sha256:5e28f883faacefa847104ebba1a1a22ee897b7576f0af6b8253c68b5c8f42815" name="ScorecardOlmSuiteCheck" time="10.342975268s">. Here is the [result-junit.xml I got](https://www.distributed-c

[2021-11-04 08:22] tkrishtop commented on #274
Hi, @komish I see, thank you. Going to use `PFLT_ARTIFACTS` then.

[2021-11-04 08:22] #274 closed

[2021-11-04 11:09] tkrishtop opened #329 "Random failure of ScorecardBasicSpecCheck test"
## Bug Description
Sometimes ScorecardBasicSpecCheck randomly fails, in ~30% of tests.
This fail seems to be preflight-related because `operator-sdk scorecard --selector=test=basic-check-spec-test` which runs just after always showing "pass". The error on the preflight side is `error running tests context deadline exceeded`, so maybe it's something timeout-related.

results.json:
[code]

File `art

[2021-11-04 14:00] #324 closed

[2021-11-04 18:59] acornett21 opened #331 "Conditionally use `operatorframework.io/suggested-namespace` from the CSV as the `installedNamespace` when Running DeployableByOLM Check"
## Is your feature request related to a problem? Please describe.
Currently the value of `installedNamespace` comes for the `annotations.yaml` in some cases this might not be the most accurate namespace for an operator to be installed to. The CSV contains a more accurate field `operatorframework.io/suggested-namespace` where a given operator could be installed, if this key is present.

## Describe

[2021-11-09 03:53] #293 closed

[2021-11-09 19:06] bcrochet commented on #326
This will likely be fixed by #334

[2021-11-10 01:16] #328 closed

[2021-11-10 01:54] #169 closed

[2021-11-10 15:03] bcrochet commented on #326
Marking this closed since #334 landed. Please reopen if not solved by it.

[2021-11-10 15:03] #326 closed

[2021-11-10 19:45] #329 closed

[2021-11-11 19:34] komish commented on #213
/assign

[2021-11-11 20:41] komish commented on #213
To resolve this, I set out to increase the clarity surrounding the message when Crane is unable to pull an image hosted as schemaVersion 1 in a remote. This is because we also don't want to support images at schemaVersion1 in Preflight, so it doesn't make sense for us to take any action here other than just inform the user more clearly than what crane returns as an error message.

That said, it lo

[2021-11-11 20:42] komish commented on #213
/close

[2021-11-11 20:42] #213 closed

[2021-11-12 20:25] komish opened #336 "Automatically test Preflight policy execution on pull request"
## Is your feature request related to a problem? Please describe.
Yes, currently there is no automated testing against new PRs that tests Preflight's functionality with the bugfix against a known good asset and a known supported OCP cluster version.

## Describe the solution you'd like.
Integrate with https://prow.ci.openshift.org's , consuming the ci-operator to claim a cluster of a version we su

[2021-11-12 20:25] komish commented on #336
/assign

[2021-11-12 20:28] tonytcampbell opened #337 "Improve Messages on Preflight Check Errors"
## Is your feature request related to a problem? Please describe.
When Deployable by OLM check Errors it show the Failure description and help text which is misleading.  It' hinting towards an issue with the image source registries but that is not the issue in case of Error.

## Describe the solution you'd like.
(A clear and concise description of what you want to happen.)

## Describe alternative

[2021-11-15 13:25] itroyano opened #338 "Add a release action for semver tag builds"
For a released (X.Y.Z tagged) version,  we are currently building the artifacts and uploading to Quay.
A Github release action & release notes needs to be done manually.

We would like to generate a release with notes and description based on commits in this version vs. the previous.

In addition, to support pre-releases (Alpha, Beta, RC).

[2021-11-15 16:21] #337 closed

[2021-11-17 07:08] vikasmulaje opened #342 "While running container check preflight tries to determine cluster version"
## Bug Description
While running container check preflight tries to determine cluster version  which is not needed

## Version and Command Invocation
preflight version 0.0.0 <commit: b00d46ad3531b3059a2e1ffda3fa3531a669f0ec>

## Steps to Reproduce:
(How can we reproduce this?)
1) preflight check container quay.io/komish/preflight-test-container-passes:latest
2)
3)

## Expected Result
In container

[2021-11-17 13:15] vikasmulaje commented on #336
Hi @komish,
I am working on same scenario made some progress on build jenkins pipeline job and Preflight automation test.
Lets collaborate on this

[2021-11-17 17:49] komish commented on #336
@vikasmulaje has started working on programmatically interacting with all of the current CLI endpoints. I think it makes sense to continue our existing integration with the Red Hat DPTP infrastructure because it gives us access to the on-demand openshift clusters, but I suggested @vikasmulaje submit his programmatic CLI testing code for review. If/when merged, we can replace my recently submitted

[2021-11-18 14:09] tkrishtop commented on #307
Hello team, I'm testing the latest preflight tag `b00d46ad3531b3059a2e1ffda3fa3531a669f0ec`.

Here is the job that tests two operators: simple-demo-operator and testpmd-operator, [here are all the log files](https://www.distributed-ci.io/jobs/c6723a2d-a766-4799-8cb3-271055bd6ac4/files).

1. Good test case
For the simple-demo-operator, the tests are passing, files operator_bundle_scorecard_BasicSpe

[2021-11-18 14:25] tkrishtop commented on #329
Reproduced this issue again with the latest tag `b00d46ad3531b3059a2e1ffda3fa3531a669f0ec` (=master branch).

Operator version:
[code]

[Here are all the logs](https://www.distributed-ci.io/jobs/c6723a2d-a766-4799-8cb3-271055bd6ac4/files).

Preflight shows ScorecardOlmSuiteCheck test in errors
[code]

but independent `operator-sdk scorecard --selector=test=basic-check-spec-test` test (I run it rig

[2021-11-18 15:47] samira-barouti commented on #329
@tkrishtop From the log, it seems that the scorecard test was not executed within the 120s wait time (elapsed time 120145ms). We merged a PR that increases the timeout to 240ms. Please feel free to reopen the issue if you saw the error again.

[2021-11-23 14:40] tkrishtop commented on #307
Tested it with preflight 1.0.5, the issue is fixed:

https://www.distributed-ci.io/jobs/cbfc5b94-654e-4a27-9494-a78051fa891b/files

[code]

artifacts/operator_bundle_scorecard_OlmSuiteCheck.json is present and not empty:
[code]

[2021-11-23 14:40] #307 closed

[2021-11-23 17:13] tonytcampbell opened #346 "Operator KB Article links point to container cert articles."
## Bug Description
The links to KB articles in preflight check operator seem to point to the wrong place.  They are pointing to containers instead of operator articles.

## Version and Command Invocation
(The output of `preflight --version`)
1.0.5

## Steps to Reproduce:
(How can we reproduce this?)
1) Get preflight results that Fail
2) Review the links provided.
3)

## Expected Result
(What did y

[2021-11-29 09:00] tkrishtop commented on #326
Confirm that the issue is fixed in preflight 1.0.5: https://www.distributed-ci.io/jobs/cbfc5b94-654e-4a27-9494-a78051fa891b/files
Thank you! :)

[2021-12-01 14:23] itroyano commented on #108
current image size is ~160Mb.  closing the issue.

[2021-12-01 14:23] #108 closed

[2021-12-01 16:12] #346 closed

[2021-12-03 12:50] samira-barouti opened #349 "DeployableByOLM should support non-default channels"
## Is your feature request related to a problem? Please describe.
The current version of preflight uses the default channel to ensure the operator could be deployed by OLM. There are certain usecases where the teams want to test non-default channels.

## Describe the solution you'd like.
A new optional env variable could be introduced which indicates the name of the channel under test. This takes

[2021-12-03 16:34] #349 closed

[2021-12-08 09:26] MarcinGinszt opened #353 "Document the test cases among with potential failure reasons"
In order to ease the debugging, particular test cases and their requirements should be broadly documented in some markdown doc. Currently, test results are giving some indication of what went wrong, however- domain knowledge is necessary to find out what the failed test case was expecting. What is even worse, this domain knowledge is missing a lot of documentation.
Preflight tests should be easy t

[2021-12-09 14:01] tkrishtop opened #354 "Random fail of BasicSpecCheck test for preflight 1.0.6 while the same direct operator-sdk test is passing"
## Bug Description
Sometimes BasicSpecCheck test randomly fails as a part of the Preflight test suite. Direct `operator-sdk scorecard --selector=test=basic-check-spec-test` which runs immediately after, passes.

Some times ago, when preflight logs `operator_bundle_scorecard_BasicSpecCheck.json` were not yet available, with @samira-barouti we repeatedly increased preflight timeout #329
Now the logs

[2021-12-09 14:25] tkrishtop opened #355 "File scorecard_BasicSpecCheck.json is empty if operator-sdk produces timeout"
## Bug Description
Sometimes `operator-sdk scorecard` produces timeout, it seems like a several-minute outage of internal resources. It's not a fault of preflight, because direct `operator-sdk scorecard` tests which run immediately after, timeout as well.
The problem is that in this case, preflight doesn't generate correct logs and the file scorecard_BasicSpecCheck.json is empty.

## Version and C

[2021-12-15 19:06] acornett21 commented on #355
This is happening because `operator-sdk` dose not handle `context deadline` errors like they do for other application errors. Link to [code](https://github.com/operator-framework/operator-sdk/blob/master/internal/cmd/operator-sdk/scorecard/cmd.go#L233-L245) L235 would be where the error is propigated.

[2021-12-15 19:06] acornett21 commented on #355
/assign

[2021-12-20 08:45] tkrishtop commented on #355
I opened a related issue to operator-sdk to add more information in the timeout logs: https://github.com/operator-framework/operator-sdk/issues/5452

[2021-12-20 13:50] tkrishtop opened #357 "Results-junit.xml is not created and results.json is empty if preflight can't pull operator image"
## Bug Description

In DCI we started to run Preflight tests for real-life operators from partners. There was an issue with credentials for the partner's private registry, Preflight couldn't pull the operator image, and everything failed at the very beginning. The issue with pulling is not on the Preflight side, the problem is that log files were not properly created in this case.

- results-junit

[2021-12-20 17:19] komish opened #358 "[Container Cert] Start container and ensure it reaches a running state"
## Summary

Preflight should start a container (e.g. with something like `podman run`), and
ensure that the container eventually reaches a running state.

This check is a part of the **Container** policy (i.e. the `preflight check
container` target).

For new contributors: [Implement a check](https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/docs/dev/IMPLEMENT_A_CHECK.md)

[2022-01-14 17:30] jfrancin opened #365 "Preflight attempts to run a v4.9 operator prior to checking for deprecated Kube 1.22/OpenShift 4.9 APIs"
## Bug Description

Preflight attempts to run a v4.9 operator prior to the check for deprecated Kubernetes 1.22/OpenShift 4.9 APIs.

This causes the Preflight test to waste several minutes waiting for the operator to become ready - when it's never going to happen.

After this finally fails the Kube 1.22 API test is run, which indeed fails and explains why the operator could not deploy.

## Version

[2022-01-14 19:09] acornett21 opened #366 "Expose all Optional Configurations in `--help` cmd"
## Is your feature request related to a problem? Please describe.
When trying to decide what optional parameters can be passed into a given check, it would be nice to run the `--help` instead of having to look at the documentation in the repo.

## Describe the solution you'd like.
Have all of the optional configurations be listed in the `--help` menu so that it's easier to know what can be configu

[2022-01-14 19:15] acornett21 commented on #365
I'll let other chime in, but I'm not sure there is much that we can do about this. Preflight has to return a pass/fail for each check, which means we still have to run `DeployableByOLM` no matter what the `ValidateOperatorBundle` check produces.

[2022-01-14 19:48] jfrancin commented on #365
Hmmm. I would argue that if we fail the ValidateOperatorBundle checks - especially the API check - the DeployableByOLM test should be skipped and marked Fail regardless.  The problem is that an API check failure will guarantee that the DeployableByOLM test _will_ fail. Why waste the resources and time in the test cluster if we already know this?

I can imagine that failing some of the other checks

[2022-01-14 20:07] samira-barouti commented on #365
@jfrancin We initially had a conversation around introducing dependencies between checks, and we decided to keep them independent to facilitate the concurrent execution (we don't run the check in parallel at the moment, but we designed the tool to support this).

[2022-01-14 21:13] jfrancin commented on #365
hmmm.  I'd like to have @tonytcampbell weigh in on this - he requested that I file this ticket. I think that the issue is at least worth discussing.

[2022-01-18 22:03] acornett21 opened #367 "Create a New Parameter to Expose Scorecard `--wait-time` flag"
## Is your feature request related to a problem? Please describe.
Since we are now saying to increase the wait-time in the `help` when errors happen in preflight, we should probably expose this value for users to try to increase.

## Describe the solution you'd like.
We can keep the default value that we currently have hardcoded, and make a new parameter `PFLT_SCORECARD_WAIT_TIME` as optional for

[2022-01-20 19:14] acornett21 commented on #367
/assign

[2022-01-21 15:16] #355 closed

[2022-01-21 15:42] tonytcampbell opened #369 "[Container Cert] Send Container Certification Results to Pyxis"
`preflight check container` command should include an option (maybe a flag) to `--submit` results.  When this options is selected the results should be submitted to the Pyxis API.

[2022-01-21 15:55] tonytcampbell opened #370 "[Container Cert] Add the ability to create a ticket during the container cert flow"
A user should be able to Open a support ticket directly from Preflight and attach the logs and artifacts to that ticket.

[2022-01-21 16:06] tonytcampbell opened #371 "[Container Cert] Develop a Preflight Distribution Pipeline"
Partners will need to be able to download Preflight for on premise use during container certification.
1. We need to build binaries as GitHub releases. There should be binary for each supported architecture. (amd64, ppc64le. s390x etc)
2. We need to create containers containing the binary and prepare for delivering them through HACBS (Aug/Sep timeframe) or CPaaS

[2022-01-21 16:09] tonytcampbell opened #372 "[Container Cert] Validate the version of preflight being used upon submission"
When a user submits results for the preflight container checks we should phone home and verify that the version of preflight being used is supported. If not supported the user should be prompted to upgrade to a supported version.

[2022-01-24 14:19] acornett21 commented on #372
It might make more sense to implement this at the `root` level, so we have it for all checks and cmds. This is how I've seen it with other `cli` tools, but if we do it at the `root` level it might affect the `pipeline` too, so we need to make sure to avoid that.

[2022-01-24 16:18] #367 closed

[2022-01-25 16:05] tonytcampbell opened #373 "[Container Cert] Container can be launched successfully with SELinux and CGroups enabled"
Container can be launched successfully with SELinux  and CGroups enabled on the underlying RHEL host

[2022-01-25 16:11] tonytcampbell opened #374 "[Container Cert] Container can run as a systemd service"
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/running_containers_as_systemd_services_with_podman

`podman generate systemd`

[2022-01-25 17:22] skattoju commented on #373
@tonytcampbell is there already an existing check that does this ? Was hoping to get a bit more background on this. Does this imply essentially ensuring if the appropriate SCC is in place ?

[2022-01-25 17:58] rocrisp commented on #374
/assign rocrisp

[2022-01-26 14:20] itroyano commented on #371
/assign

[2022-01-26 14:22] itroyano commented on #371
Sub-tasks:

- [ create a s390x build]
- [ ]

[2022-01-26 15:21] acornett21 commented on #372
/assign

[2022-01-26 20:37] jfrancin opened #375 "[Container Cert] "RPM_list_successful" test must be able to deal with containers built with ubi*-micro base images"
[Problem]
At present the outgoing CVP scan will fail the RPM_list_successful test for containers built with the ubi*-micro base images - currently ubi8-micro for RHEL 8, soon ubi-micro for RHEL 9.

They fail because ubi*micro base images do not have either the `rpm(8)` or `yum/dnf(8)` tools installed.

Note that while the rpm and dnf/yum tools are **not** installed, there is a full set of RPM data

[2022-01-26 21:44] acornett21 commented on #372
@tonytcampbell I assume the intent was  to call github's `/releases` api for `preflight` to make sure the user is on the latest version of the application. This is totally doable, but we might run into an issue since GH rate limits requests to its API's for `unauthenticated` requests.

From there docs:
[code]

Or was there another approach to get the supported version, maybe `pyxis`? Or do we plan

[2022-01-27 09:15] lslebodn commented on #375
Different version of ubi contains different type of db as a backaend
[code]

It would be good to ensure you get expected results. Not sure how reliable would to use rpm/yum/dnf from "host"

BTW fortunately, there is not ubi7-micro. But there are still partners which certify images based on rhel7 based images

[2022-01-27 17:00] amisstea commented on #369
@jomkz we just added https://issues.redhat.com/browse/ISV-1664 to our backlog with the expectation that preflight could "phone home" the Started -> In Progress certification state transition. It could happen at any time the partner first starts working with preflight but it could also occur during submission so this seems to be the most relevant issue. Please take a look and let me know if you hav

[2022-01-27 18:03] tonytcampbell opened #376 "[Container Cert] Display response data from Pyxis after submit"
Display the Image ID from Pyxis back to the user.  The user will need this user id to access the results in Connect.

Also add verbiage indicating to the Partner that once all checks have passed they will be reviewed by Red Hat for final certification.  We should provide a link to connect.redhat.com where the Partner can monitor the progress.

[2022-01-27 18:31] acmenezes commented on #373
I can take this one.
/assign

[2022-01-27 18:41] tonytcampbell opened #377 "[Container Cert] Signing and/or Checksumming of the Preflight Results sent to Pyxis"
As a bonus, we'd like to sign and or checksum the results from Preflight to help guard against forgery.

[2022-01-27 18:46] tonytcampbell opened #378 "[Container Cert] Create a test project in Pyxis to use during development"
Create a project in the external dev instance of Pyxis to be used by the Preflight team during development.

[2022-01-27 20:50] jfrancin commented on #375
This would only be required for the ubi*-micro containers. There are no plans for RHEL 7 micro images - RHEL 7 will sail off into the sunset with the current set of base images, updated only for bugfixes.

In other words, the situation in question here would not occur in a RHEL 7 container scenario.

I hadn't realized that RPM was shifting from BerkeleyDB to SQLite. I suspect that there are still

[2022-01-28 14:09] jomkz commented on #25
Bringing this issue back to the forefront. We need to address #375 as part of the container certification work so I am wondering if we can address both of them together.

[2022-01-28 14:11] jomkz commented on #40
@tonytcampbell Just going through some old issues and wondering where we stand with this one?

[2022-01-28 14:12] jomkz commented on #59
@bcrochet I am going through and cleaning up old issues Can you confirm that we can close this now? I believe that we have everything that we need in place already.

[2022-01-28 14:20] jomkz commented on #144
@vikasmulaje Just going through older issues and wondered if we have an update on this?

[2022-01-28 14:22] jomkz commented on #162
@vikasmulaje Just checking in to verify that the work done in #281, as well as the configurable log levels cover your use-case?

[2022-01-28 14:26] jomkz commented on #338
@itroyano Have we thought any more about how we can address this one?

[2022-01-28 14:29] jomkz commented on #61
This should be covered by #369

[2022-01-28 14:32] jomkz commented on #76
@itroyano Will the work for this issue be addressed by #371?

[2022-01-28 14:40] itroyano commented on #371
@jomkz we currently have image builds for amd64 and ppc (contributed by @mayurwaghmode ).
We also have a multi-arch target in the Makefile (done by @acornett21 I think).

I'm working on consolidating the image build code into the "release" action + adding the binaries by invoking "make multi-arch" and packaging them + a way to publish the artifacts in the release page.

[2022-01-28 15:19] jpaulovic opened #379 "Preflight should fail if unsupported base image is used"
As discussed on Jan 20, preflight should extend the check of base image to verify that the rhel/ubi version used is not EOL.
cc @tonytcampbell

[2022-01-28 15:44] bcrochet commented on #375
This is not really related to #25. #25 is about the base image, whereas this, IIUC, is about the actual RPM list.

I thought we had moved to checking against the rpmdb directly, and not using the rpm/dnf/yum commands. But if there is a move from BDB to SQLite, that would definitely make a difference to this one. I'll check on that.

[2022-01-28 15:46] acornett21 opened #380 "Migrate from custom `usage` information in `cmd` help to native cobra help"
## Is your feature request related to a problem? Please describe.
Right now, if another flag/cmd/etc is added we do not get that flags output information for `free`, since we are overlaying that information with custom `usage` information.

## Describe the solution you'd like.
1. Remove any method calls to `.SetUsageTemplate(usage)`.
2. Add in additional flags `--list-checks` to list the checks wh

[2022-01-28 15:46] bcrochet commented on #59
I'm ok with closing this.

[2022-01-28 15:48] acornett21 commented on #380
/assign

[2022-01-28 15:48] bcrochet commented on #99
Yes please. Let's get a separate issue to track the full removal.

[2022-01-28 16:32] #59 closed

[2022-01-28 16:40] jomkz opened #381 "Remove HasMinimalVulnerabilitiesCheck"
## Is your feature request related to a problem? Please describe.

We need to remove the code that we have in place to perform the container image vulnerability check (HasMinimalVulnerabilitiesCheck). The current implementation only works for RHEL-8 based images and was disabled.

For container image certification, we are instead going to utilize Clair to scan the images once they have been pushed

[2022-01-28 16:42] jomkz commented on #99
I have created #381 to track the work to remove HasMinimalVulnerabilitiesCheck, closing this issue.

[2022-01-28 16:42] #99 closed

[2022-01-28 17:18] jomkz commented on #372
Just to follow-up from our conversation on 1/27/2022; we have identified the following options for implementation of this check.

1. Have a check added on the Pyxis side to verify the acceptable preflight version. Preflight will send the version along with the results and the submission would be rejected if that version is not within an acceptable range. We would need to notify someone on the Pyxi

[2022-01-28 20:05] jfrancin commented on #379
Note that this test is **not cut-and-dried** in certain cases. For example, if the partner is building an OpenStack plug-in, they will be using a base image that is likely deliberately built on top of an EUS version of a RHEL UBI. This is a valid use-case. The reported base image will be openstack-<component>-base. These are valid. Therefore the testing for base images will need to be not as simpl

[2022-01-28 21:13] acornett21 commented on #381
@bcrochet @jomkz Unless I'm missing something, I don't think this is in the code base anymore. There is nothing in the policies [here](https://github.com/redhat-openshift-ecosystem/openshift-preflight/tree/main/certification/internal/policy/container) or in the engine [here](https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/certification/engine/engine.go#L96-L104).

[2022-01-29 00:42] jomkz commented on #381
I believe that this was fully removed when we migrated to crane engine, closing as there is nothing to do here.

[2022-01-29 00:42] #381 closed

[2022-01-31 16:16] bcrochet commented on #365
PIcking this up. Approach is going to be to include a call to bundle validate before running DeployableByOLM, as well as during the actual bundle validate check. This will keep them separate, but still "fail fast" on DeployableByOLM, so that the cost of running bundle validate twice is far less than failing late in DeployableByOLM.

[2022-01-31 19:53] jomkz opened #384 "Corrupt Operator-SDK binary in 1.0.7 container image"
## Bug Description

The preflight container image for version `1.0.7` contains a corrupt operator-sdk binary.

## Version and Command Invocation

[code]

## Steps to Reproduce:

1) `$ podman pull quay.io/opdev/preflight:1.0.7`
2) `$ podman run -it --entrypoint /bin/bash quay.io/opdev/preflight:1.0.7`
3) `# operator-sdk --version`

## Expected Result

Expected the operator-sdk version to be printed

[2022-01-31 20:24] acornett21 commented on #384
/assign

[2022-01-31 21:52] acornett21 commented on #369
/assign

[2022-01-31 21:59] #384 closed

[2022-02-01 09:39] lslebodn commented on #379
The current implementation does exactly what @jfrancin described.
We do not care which base image was used. Whether it was a ubi base image or image for software collection in rhel7 or openstack, midleware one.
We just checked whether some RH base image could be found in pyxis. We used digest of unpacked layers for that.
[code]

[2022-02-01 23:29] bcrochet commented on #375
In going through the CVP code, it looks like the RPM_List_Successful is just a bit of a "This is progressing fine". The use of the rpm executable does not appear to be central to the tests. I think we can close this, as any method that we use will not rely on the rpm executable in order to get a list of the RPMs installed in the container.

[2022-02-01 23:29] #375 closed

[2022-02-01 23:31] bcrochet commented on #25
I have a clearer picture from the CVP codebase on how to accomplish this in a consistent and useful manner.

[2022-02-02 13:56] lslebodn commented on #375
CVP extract list of rpms by using /bin/rpm binary
[code]
And than parse txt file into JSON like object. They are used on two places:
1) upload list of rpms to containerRpmManifestEntity pyxis(lightblie)
2) for the assesment `rpm_list_successful` . The assesment(check) will pass if there is nore than 1 rpm detected.

Extracting list of rpms with docker/podman run does not work with ubi-micro image

[2022-02-02 14:28] bcrochet commented on #375
We can do exactly those things, but going against the RPM database directly. We do not need the rpm binary itself for that. We are not implementing the rpm_list_successful directly in preflight.

[2022-02-02 14:34] jomkz commented on #61
Closing this issue, as the `certify` sub command will be removed in favore of a flag passed to `check container`.

[2022-02-02 14:34] #61 closed

[2022-02-02 14:39] #380 closed

[2022-02-02 20:18] #365 closed

[2022-02-02 20:20] acornett21 commented on #369
@amisstea Should we do a call to `GET` call to `projects/certification/id/1234` to verify the status is in a status of `Started` before we call `PATCH` with the new `In Progress` status?

[2022-02-02 21:11] jfrancin commented on #375
So it would seem that this is a complete non-issue for the new Preflight, as long as it can handle either form of the RPM databases (RHEL 8 and prior, and RHEL 9).

As to the original ticket I filed on fixing this in the CVP, if the Preflight schedule stays on target for an April release, then I can leave the Jira ticket as it is; if the schedule is likely to slip into May or June it would make se

[2022-02-02 22:35] amisstea commented on #369
@acornett21 yes, that is probably a good idea. We may allow it to be `PATCH`'d to `In Progress` if currently in that state but going from `Published` to `In Progress` is expected to return an error.

[2022-02-02 23:06] acornett21 opened #389 "Build Actions for `main` overwrite images in quay repo"
## Bug Description
We have two build actions for main, one that should build/push and `amd64` and one that should push an `ppc64le`. The problem is both actions push to quay with a `sha` ie `quay.io/opdev/preflight:4712282207042438c017f37da42d2a775221fd88`. This means that whichever actions finishes 2nd, will be the only image that is present in quay for a given sha.

## Version and Command Invoca

[2022-02-03 15:39] jomkz commented on #371
We had a discussion around how we want to handle tagging the multi-arch images in quay. We decided on the following format:

[code]

**sha7**: The short GitHub commit SHA
**platform**: The OS platorm (`linux` is currently the only supported platform)
**arch**: The architecture (`amd64`,`ppc64le`,`arm64`,`s390x`)

[2022-02-03 15:45] itroyano commented on #371
PR #383 updated

[2022-02-03 17:17] itroyano commented on #389
/aasign

[2022-02-04 15:21] #371 closed

[2022-02-04 16:13] jomkz opened #390 "Container Images Fail to Build on Commit to Main"
## Bug Description

The current image tagging format that was agreed upon in #371 is invalid and causing the build action to fail.

## Version and Command Invocation

Main branch

## Steps to Reproduce:
(How can we reproduce this?)
1) Merge a PR into main
2)
3)

## Expected Result

Expected the container images to be built using the git SHA, platorm and arch when commits are merged to main.

## Ac

[2022-02-04 16:28] itroyano commented on #390
/assign

[2022-02-04 16:31] jomkz commented on #389
This issue has been addressed by #383

[2022-02-04 16:31] #389 closed

[2022-02-07 09:52] tkrishtop opened #392 "Preflight runtime-assets is broken since the first tag after 1.0.8 (1.0.8 is the last working)"
## Bug Description

To ensure the continuous work of Preflight-DCI integration, we're working on having daily tests for the Preflight main branch. For that, we test daily the last tag from https://quay.io/repository/opdev/preflight?tab=tags on five test operators.

We discovered that all tags after 1.0.8 have broken `preflight runtime-assets` behavior  (1.0.8 is the last working tag). The error is

[2022-02-07 10:38] tkrishtop commented on #392
I've checked all these tags and seen that they were built for another arch: `ARCH=ppc64le`.

It seems like there is the ongoing implementation of multi-arch images [here](https://github.com/redhat-openshift-ecosystem/openshift-preflight/issues/371#issuecomment-1029118359), and there is an ongoing [fix](https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/391).

[2022-02-07 14:26] #390 closed

[2022-02-07 22:19] acmenezes commented on #373
Hi @tonytcampbell,

I was looking at this issue and trying to find out what kind of test can be run here.

The thing is SELinux labels are enforced by the container runtime spinning up the container in order to separate containers from other containers including the host file system. This is not attached to the image itself. If the entry point for a specific image, command or script, requires acce

[2022-02-08 10:06] lslebodn commented on #392
Or you can consider wrap all architectures into manifest v2 list.
* https://sdeoras.medium.com/special-case-of-building-multi-arch-container-images-distroless-go-and-podman-ad3e2ba0ccea
[code]

Similar approach described with docker. (not should which one do you use)
https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

[2022-02-08 10:34] vikasmulaje opened #397 "[Vagrant] make build fails with error "type reflect.StructField has no field or method IsExported""
## Bug Description
[Vagrant] make build fails with error "type reflect.StructField has no field or method IsExported"
## Version and Command Invocation
(The output of `preflight --version`)

## Steps to Reproduce:
(How can we reproduce this?)
1) pull the latest changes
2) make build
3)

## Expected Result
make build should produce preflight binary

## Actual Result
[code]
## Additional Context
Upd

[2022-02-08 10:34] vikasmulaje commented on #397
/assign

[2022-02-08 14:26] acornett21 commented on #392
@lslebodn We have thought about that, but we also will be distributing `preflight` as a binary and not just a container to support `check container` certification process. So for now we are going to keep it one arch to one container.

[2022-02-08 14:48] lslebodn commented on #392
You still will/can have tags for arch specific container.
Manifest would be just a tiny simplification/enhancement.

But you should know what fits better to your use-cases/requirements/release workflow...

[2022-02-08 20:16] itroyano commented on #392
Hi @tkrishtop,
please try now.
the tags have changed to reflect architecture, so the amd64 image from main would look like this: `quay.io/opdev/preflight:9f07a3a-linux-amd64`

[2022-02-09 14:56] tkrishtop commented on #392
Hi @itroyano thank you for the PR, tested, everything seems to be fixed.

[2022-02-09 14:56] #392 closed

[2022-02-09 17:01] #397 closed

[2022-02-09 21:02] samira-barouti opened #401 "[Container Cert] Container certification should support accessing images in private repo"

[2022-02-10 17:12] tonytcampbell opened #403 "Clearly indicate the overall check results."
## Is your feature request related to a problem? Please describe.
The JSON output of Preflight contains the pass/fail results for all checks and an overall `passed` attribute that indicates if all the checks passed or not.

## Describe the solution you'd like.
The overall attribute named `passed` is not clear enough.  We should rename it to `overall result` or something similar.

## Describe alter

[2022-02-10 17:48] tonytcampbell opened #404 "[Container Cert] Scratch image support"
In order to support a small population of scratch images when we come across a scratch image we will need to make a Pyxis call to read the os-content-type on the Project.  If the os-content-type is set to scratch then this Project has been approved to use scratch. If the Project has been approved to use scratch then we will bypass certain checks.

- Skip the Base Image check

[2022-02-11 13:40] samira-barouti commented on #401
Both Crane and Podman support reading the credentials from the config.json file.

[2022-02-11 13:40] #401 closed

[2022-02-11 14:24] #358 closed

[2022-02-11 19:46] samira-barouti opened #407 "RunnableContainerChecks hangs when the container does not reach running state."
## Bug Description
When running `check container`, the preflight hangs in while running "RunnableContainerCheck".

## Version and Command Invocation
main branch

## Steps to Reproduce:
(How can we reproduce this?)
1) fetch the preflight main branch
2) run `make build`
2) run `./preflight check container us.gcr.io/panw-gcp-team-testing/paloaltonetworks/pan-cn-series-operator:1.0.0`

## Expected Res

[2022-02-11 20:15] #407 closed

[2022-02-13 17:45] itroyano commented on #338
generating release notes will be done using the existing "github release" method we are using currently.
there is an Action triggered by a release, to attach binaries.
closing this.

[2022-02-13 17:45] #338 closed

[2022-02-14 23:00] acornett21 opened #409 "Conditionally Suppress `usage` information whenever a `panic` or error occurs"
## Bug Description
Whenever preflight throws a panic, or experiences an error, the usage information is also written. There is no need to re-output this information to the console and can be confusing to the user.

## Version and Command Invocation
`main`

## Steps to Reproduce:
1) Run preflight check container with an image that in a private repo, but do not provide credentials
2) See the console

[2022-02-15 19:23] #409 closed

[2022-02-15 19:39] bcrochet commented on #404
Fixed by #406

[2022-02-15 19:39] #404 closed

[2022-02-16 19:37] acornett21 opened #415 "Make Sure HTTP Status Code is a `200` series before continuing for pyxis calls"
## Bug Description
Right now we only check for `err` we should make sure that what we get back from pxyis is an acceptable response before continuing

## Version and Command Invocation
main

## Steps to Reproduce:
1) Enter in a random number for project id
2) see that the pxyis call goes through and application continues

## Expected Result
I would expect that we trap all non-200 http responses an

[2022-02-16 19:37] acornett21 commented on #415
/assign

[2022-02-16 19:48] acornett21 opened #416 "Fail Fast On `check container` When User Does Provide `certification-project-id` and/or `pyxis-api-key`"
## Bug Description
Right now we are only checking for these values when the `--submit` flag is set. These should be required flags and fail fast.

## Version and Command Invocation
main

## Steps to Reproduce:
1) run `check container` without and flags
2) see that it fails for empty project id
3)

## Expected Result
I would expect preflight to exit early and list the flags that are required.

## A

[2022-02-16 19:48] acornett21 commented on #416
/assign

[2022-02-16 19:57] #374 closed

[2022-02-16 21:13] #416 closed

[2022-02-17 22:35] #415 closed

[2022-02-17 23:28] tonytcampbell opened #425 "[Container Cert] Container cannot modify content provided by Red Hat"
Container image cannot modify content provided by Red Hat packages or layers, except for files that are meant to be modified by end users, such as configuration files

[2022-02-21 10:33] vikasmulaje opened #426 "preflight check container should only check "certification-project-id", "pyxis-api-token" when --submit flag provided"
## Bug Description
preflight check container should only check "certification-project-id", "pyxis-api-token" when --submit flag provided
## Version and Command Invocation
(The output of `preflight --version`)
preflight version 0.0.0 <commit: b18db6124f8856eb2976dd1c5661beaa71ea0ca7>

## Steps to Reproduce:
(How can we reproduce this?)
1) preflight check container <Image>
2) It will fail with proje

[2022-02-21 10:38] vikasmulaje commented on #426
With this change preflight wont be able to run check without submit. https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/418

if we don't want to submit can we provide some --dry-run flag to run checks locally?

[2022-02-21 16:26] tonytcampbell commented on #379
GChat Thread where we discussed this:
https://chat.google.com/room/AAAAyhRf9po/y-U6GKqUF2I

[2022-02-23 04:11] vikasmulaje opened #433 "Add Documentation for container check usage"
## Is your feature request related to a problem? Please describe.
Add Documentation for container check usage like we have for Operator check
https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/docs/RECIPES.md

## Describe the solution you'd like.
Updating DOC at https://github.com/redhat-openshift-ecosystem/openshift-preflight/blob/main/docs/RECIPES.md
## Describe alternat

[2022-02-24 14:13] #376 closed

[2022-02-24 19:45] jomkz opened #436 "The Build Release Action Does Not Run for Pre-release Tags"
## Bug Description

When attempting to create a pre-release for preflight by creating the `1.1.0-alpha1` tag through the GitHub release UI, the "build release" action that is responsible for creating the container images was not run.

## Version and Command Invocation

1.1.0-alpha1

## Steps to Reproduce:

1) Create a new pre-release using the GitHub UI for a tag other than `n.n.n`.

## Expected R

[2022-02-24 22:12] #436 closed

[2022-02-25 14:33] acornett21 opened #438 "`check container` does not always write `elapsed_time` to results.json"
## Bug Description
When running `check container` not all `checks` write out an `elapsed_time` to the results.json. This means that `pyxis` rejects our request.

## Version and Command Invocation
main

## Steps to Reproduce:
1) run `check container --submit`
2) see error returned by pyxis
3)

## Expected Result
It should be expected that this value is always present for any check, just like `check

[2022-02-25 18:41] acornett21 opened #442 "currently if pyxis returns a error for one api call, preflight cannot run `--submit` again"
## Bug Description
When running preflight if the image or rpm-mainfest have been created, but say the `/results` api errors out, preflight cannot execute `--submit` again since we are calling POST endpoints.

## Version and Command Invocation
main

## Steps to Reproduce:
1) run `--submit` with bad data field for the results
2) see `/results call fail`
3) re run `-submit` see `create image` call fa

[2022-02-25 18:41] acornett21 commented on #442
/assign

[2022-02-28 12:11] itroyano commented on #175
This issue may no longer be needed @rocrisp @jomkz

[2022-02-28 17:05] acornett21 commented on #433
/assign

[2022-03-01 16:25] acornett21 opened #447 "`preflight check container` Should Upload `preflight.log` to pyxis"
## Is your feature request related to a problem? Please describe.
prflight is currently only submitting results to `/test-results` and does not give a full picture of everything that has happened during a given run. In order to provide more information to the user in connect, as well as more information to support if a support ticket is placed, preflight should also upload `preflight.log` to pyxis

[2022-03-02 05:53] jinhli opened #452 "The credential content in "Openshift Object YAML" is not merged in merge-registry-credentials step"
## Bug Description
pr: https://github.com/redhat-openshift-ecosystem/certified-operators/pull/538
Project: 61af7b43b1610a914eccb3f3

If the external private registry is used in the operator, though the credential is added to "OpenShift Object YAML" field on the connect Project settings page, it is not merged in merge-registry-credentials step.
In the pipeline.log, there is an message **“[merge-reg

[2022-03-03 09:00] jinhli commented on #452
hi, does anyone take a look at this issue?

[2022-03-03 17:34] tonytcampbell opened #453 "[Container Cert] Test Preflight with a container based on RHEL 9 to confirm it passes"
Request from Product Management to test a RHEL 9 based container  with the new `preflight check container` flow and confirm that it works as expected.

[2022-03-03 18:35] pierreblanc opened #454 "has_unique_tag policy is not compatible with image stored in a private registry"
## Bug Description

I would like to release my operator only when it will be certified, so I am doing the pre-flight tests with private registry.

Unfortunately the policy has_unique_tag failed in this scenario.

## Version and Command Invocation

Version : quay.io/opdev/preflight:1.1.0-alpha2

## Steps to Reproduce:
preflight check container jumphost.xxxx.xxx.xxx:5000/my_operator:v2.1.1

[2022-03-03 22:25] acornett21 commented on #454
@pierreblanc Thanks for creating an issue. This issue is due to how the registry is configured and not allowing request to `/tags/list` endpoint then an issue with this check itself.

If you run `crane ls <registry/repo/image>` or `skopeo inspect docker://<registry/repo/image:tag> --debug` you should get the same `401` error for the `tags/list` route.

With that said we are talking about this chec

[2022-03-04 13:21] vikasmulaje opened #455 "preflight check container fails with error /var/lib/rpm/Packages: no such file or directory for rhel9 images"
## Bug Description
preflight check container fails with error /var/lib/rpm/Packages: no such file or directory for rhel9 images

## Version and Command Invocation
preflight version 0.0.0 <commit: f9d75cda71ab6d26c49ea543d48910192f0be702>

## Steps to Reproduce:
(How can we reproduce this?)
1) preflight check container with rhel9 containers listed on https://catalog.redhat.com/software/containers/s

[2022-03-04 16:31] acornett21 commented on #454
@pierreblanc We looked further and it seems that `crane` the tool we are using, uses different `options` for `pull` vs `list` we will have a fix for this in the next day or so.

[2022-03-04 16:37] jpaulovic commented on #453
@tonytcampbell based on our yesterday's discussion I added this to the 1.1.0 milestone. Looks like y'all are already working on a fix in #456.

[2022-03-07 21:26] #455 closed

[2022-03-07 21:59] jfrancin commented on #25
Please note that for RHEL-7, there is both a supported UBI and a RHEL base image - both of which are perfectly valid for use in partner-generated containers.

RHEL-7 supported images in Comet:

https://comet.engineering.redhat.com/containers/repositories/57ea8cdc9c624c035f96f344 (rhel7/rhel)
https://comet.engineering.redhat.com/containers/repositories/58b9d66f4b339a07cca5359e (rhel7/rhel-atomic)

[2022-03-08 13:10] vikasmulaje opened #460 "preflight check container fails for scratch images"
## Bug Description
preflight check container fails for scratch images with error /var/lib/rpm/Packages: no such file or directory
## Version and Command Invocation
preflight version 0.0.0 <commit: ed476731ad4819f09df49ec6ba8039a3a81b2c82>

## Steps to Reproduce:
(How can we reproduce this?)
1) Run preflight against scratch image
2)
3)

## Expected Result
preflight checks should run for scratch ima

[2022-03-08 13:58] acornett21 commented on #460
Like @bcrochet mentioned in slack, this is already resolved in another issue. And make sure project id `6217d5887c6c194c4959ae10` is setup as scratch.

- Relates: #451

[2022-03-08 13:58] #460 closed

[2022-03-08 15:07] #442 closed

[2022-03-08 15:46] acornett21 opened #461 "Have `certImage.certified` field match `testResults.passed` Field"
## Bug Description
Currently `preflight` sends a default value of `false` to pyxis when posting to `/images`, this was based on the assumption that the certification process still needs to run some backend tasks for the certification process to happen, however those process already are accounted for and set their own `true/false` value.

## Version and Command Invocation
`main`

## Steps to Reprod

[2022-03-09 14:47] acornett21 opened #464 "add `docker_config_json` when updating CertProject"
## Bug Description
Currently this value is empty. We should read in the file that the user gives us via the cmd ie `--docker-config` (which is bound to Viper via `docker_config`)

## Version and Command Invocation
`main`

## Steps to Reproduce:
1) Run `check container`
2) See that we aren't setting `docker_config_json` when we call `updateCertProject`

## Expected Result
I expect that we would rea

[2022-03-09 17:18] jpaulovic opened #465 "Preflight must output the created containerImage _id to the user"
In order to enable partners in UAT to view test results in Connect, the partners will need to be able to construct a URL manually to get to specific image's test results in this format: `https://connect.uat.redhat.com/projects/{certProject._id}/images/{containerImage._id}/scan-results`

Preflight currently outputs a log such as
`time="2022-03-04T08:37:22Z" level=info msg="Please check https://conn

[2022-03-09 17:37] acornett21 commented on #465
We will just add this to the existing logic and always displaying `/scan-results` for all environments, we also need to change the below:

`log.Infof("The container's image id is: %s.", certImage.ImageID)` to

`log.Infof("The container's image id is: %s.", certImage.ID)

[2022-03-09 21:12] acornett21 opened #467 "fix URI parsing for calls to `/list/tags` for registries that use port numbers"
## Bug Description
Currently preflight implemented its own logic to remove the `tag` element from the image URI which splits on `:`. This means that it does not support registries that have port values in them.

## Version and Command Invocation
`main`

## Steps to Reproduce:
1) Run `check container localhost:8080/namespace/image:version`
2) See preflight spit out information about `GET https://in

[2022-03-10 08:10] jinhli opened #470 "Registry credential should be passed to check-operator step when running via ci pipeline"
## Bug Description
If partner use a private container registry to save the bundle image and bundle image index, credential  has been added to the cluster as a secret. But when the tool running "preflight check operator $(params.bundle_image) ", the image could not be pulled with the error "Error: failed to pull remote container: GET https://quay.io/v2/mayurwaghmode111/power-cloud-native-postgresql

[2022-03-10 13:21] tkrishtop commented on #470
Hi @jinhli when running from DCI, we solve this problem in the following way:
- Share a volume with docker config.json
- Provide DOCKER_CONFIG env var

Here is the command:
[code]

[2022-03-10 14:14] acornett21 commented on #470
I'm going to post what I posted in google chat here below:

I'm really confused, is the partner running the ci-pipeline or are then running preflight as a binary on their own with their own process? It seems like the former, but this issue and messages in slack make it seem like the latter. If its the ci-pipeline they should follow these instructions https://github.com/redhat-openshift-ecosystem/c

[2022-03-10 14:21] itroyano commented on #470
Hi @jinhli,
in addition to what @acornett21 said, the attached pipeline log shows the image being used for the Preflight Task is `image: "quay.io/redhat-isv/preflight-test@sha256:265692cf4506b79535226e04a4fc505ce2dc1add8891e77b0df5358982f7a672`

Can you please try switching the Preflight Task yaml to `quay.io/opdev/preflight:1.1.0-alpha2` (or its sha) instead ?

[2022-03-10 14:38] acornett21 commented on #470
@itroyano They are testing a bundle, so the image they are using that's in the task is fine for operator check.

[2022-03-10 14:59] acornett21 opened #472 "Add support to send image layer `sha256` to pyxis"
## Is your feature request related to a problem? Please describe.
In order for `Clair` to be able to scan for vulnerabilities preflight needs to send `certImage.parsed_data.layers[]` to pyxis. The layers array is a list of strings of the `sha256` of the layers. This data is in the `crane config <img>` (see below)

## Describe the solution you'd like.
We need to save off the layer `sha256` informat

[2022-03-10 15:25] acornett21 commented on #464
- Relates: #466

[2022-03-10 15:26] acornett21 commented on #453
- Relates: #456

[2022-03-10 15:26] #453 closed

[2022-03-10 15:53] #461 closed

[2022-03-10 18:58] tonyskapunk opened #475 "Submitting multiple times causes to receive a non 200 status code in getRPMManifest"
## Bug Description
Submitting multiple times against QA causes a non 200 status:

1st submission: https://softwarefactory-project.io/paste/show/okWcp1ILOr7yxgEfpyAa/
subsequent submission: https://softwarefactory-project.io/paste/show/dGsj7BsN52jWLx0KFzEI/

We believe this PR was facing a similar scenario https://github.com/redhat-openshift-ecosystem/openshift-preflight/issues/442

## Version and

[2022-03-10 21:15] #467 closed

[2022-03-10 22:15] #465 closed

[2022-03-10 22:27] #472 closed

[2022-03-10 22:31] acornett21 commented on #475
Waiting on a response from the pyxis team why this URL isn't working.

[2022-03-11 06:45] jinhli commented on #470
@acornett21, sorry to make you confused.
The issue I submitted here is for ci-pipeline.  If partner uses the external private registry  to save the bundle image and bundle image index built by  CI Pipeline, They  need to create the secret which includes the credential of registry.
But the pipeline process could not make the repository in the external private registry public, when running**"step-ch

[2022-03-11 10:36] vikasmulaje opened #480 "preflight check container fails with error unexpected DB magic number: 3350644 for rhel9 images"
## Bug Description
preflight check container fails with error unexpected DB magic number: 3350644 for rhel9 images
## Version and Command Invocation
preflight version 0.0.0 <commit: 5bca0ef154242410ebc2bac600eedd6f11128aba>

## Steps to Reproduce:
(How can we reproduce this?)
1) preflight check container registry.redhat.io/ubi9-beta/dotnet-31:3.1-2
2)
3)

## Expected Result
preflight checks should

[2022-03-11 12:52] itroyano commented on #480
Seems to be thrown by the rpmdb library
https://github.com/knqyf263/go-rpmdb/blob/master/pkg/bdb/hash_metadata_page.go#L39

[2022-03-11 13:24] itroyano commented on #480
@vikasmulaje is this tag a valid working image?
I can't seem to check package manager type on it...
`itroyano@itroyano-mac openshift-preflight % docker run -i registry.redhat.io/ubi9-beta/dotnet-31:3.1-2 "dnf --version"
Error: Could not set cachedir: [Errno 28] No space left on device: '/var/tmp/dnf-default-5agkzb4a'
Exception ignored in: <function MainConf.__del__ at 0x7f64f9fb4940>
Traceback (mo

[2022-03-11 13:36] vikasmulaje commented on #480
@itroyano I was trying with images listed on catalog https://catalog.redhat.com/software/containers/search?q=ubi9&p=1&vendor_name=Red%20Hat

[2022-03-11 13:44] itroyano commented on #480
@vikasmulaje yes but this command works when trying the latest tag of `ubi9-beta/ubi` for example -

[code]

is `ubi9-beta/dotnet-31` tag 3.1-2 a working image ?

[2022-03-11 13:55] itroyano commented on #480
I'm also able to run `microdnf` from `ubi9-beta/ubi-minimal:latest`

is dotnet-31 different in terms of package management?

[2022-03-11 14:05] acornett21 commented on #480
I'm with @itroyano on this, if the image isn't runnable, then it can't be expected to work on preflight.

[2022-03-11 14:08] itroyano commented on #480
@acornett21 I'm trying to find out what type of rpmdb the dotnet image uses.

current code for listing packages on a ubi9 based image, assumes an sqlite type rpmdb.
based on the error @vikasmulaje  got - this assumption isn’t true for dotnet-31 .
seems true for ubi and ubi-minimal though.

but when I try to check which db is used specifically here - I keep getting the error…

[2022-03-11 14:13] vikasmulaje commented on #480
@itroyano @acornett21 yes, I can pull and run the image from the tag. I can see dnf installed on the image

[2022-03-11 14:18] acornett21 commented on #470
@jinhli This makes sense now. In the CI pipeline task for `preflight` I do not see a `DOCKERCONFIG` paramater being set. In the hosted pipeline this is done by another task called `preflight-trigger` it seems CI needs some mechanism to set `DOCKERCONFIG` for the `preflight task`

[2022-03-11 14:30] bcrochet commented on #425
The CVP check used rpm -V in order to satisfy this requirement. We have at least two options here:

1. Use the 'rpm' command from the host, against the exported FS from the image. Con here is that the host may not be an RPM-based Linux. Or even Linux for that matter.
2. Export the layers into the filesystem (or at least the filenames) one at a time in order to capture the list of files, and then v

[2022-03-11 14:34] #447 closed

[2022-03-11 14:38] jomkz commented on #175
Closing this issue as this should have been fixed by #333.

[2022-03-11 14:39] jomkz commented on #76
Closing this issue as it should be fixed by #371.

[2022-03-11 14:39] #76 closed

[2022-03-11 14:41] #162 closed

[2022-03-11 14:57] itroyano commented on #480
Thanks @vikasmulaje .
looks like it is a `rpmdb.sqlite`.

taking another look at `go-rpmdb`.

[2022-03-11 16:24] acornett21 commented on #475
Pyxis isn't saving all the data we are sending them on for the `POST` call to create rpm manifest data, until that is fixed we can't be certain if there is an issue with the `GET` calls or not.

[2022-03-11 16:43] jomkz commented on #144
Closing this issue, as we should have decent test coverage in place for the checks. Please open a new issue if there is a specific area that needs better coverage.

[2022-03-11 16:43] #144 closed

[2022-03-11 16:45] #40 closed

[2022-03-11 16:46] skattoju commented on #25
This check should do what the CVP implementation does i.e. do a call to pyxis with SHAs of the image under test to see if there is a match to the uncompressed top layer SHA of ubi images or with an existing certified image which should also be based on ubi.[1]

However the above pyxis call is fairly expensive and always times out in prod when made from outside via a load balancer as the load balan

[2022-03-11 22:07] acornett21 commented on #475
Tested this against pyxis QA and it is working as expected. Hopefully this makes it to prod next Thursday. Adding the below Jira's for incase anyone wants to track the progress. Closing this defect against preflight, since we did not need to make any code changes.

https://issues.redhat.com/browse/ISV-1854
https://issues.redhat.com/browse/ISV-1855

[2022-03-11 22:07] #475 closed

[2022-03-11 22:12] acornett21 commented on #438
- Relates: #440
- closing this issue since it's just was a marshaling issue that was resolved. Some tests run very fast, and get converted to `0` due to how time package rounds.

[2022-03-11 22:12] #438 closed

[2022-03-14 20:09] acornett21 commented on #454
There isn't an issue with `preflights` implementation of `crane.ListTags` from an authorization prospective (ie username/password) for registries with authentication. Crane takes care of using the `DefaultKeychain` on the system for `ListTags` just like it does for `Pull`.

The main issue that was causing this was that `preflight` was doing custom parsing of the URI, and not taking into account th

[2022-03-14 20:09] #454 closed

[2022-03-15 16:44] #425 closed

[2022-03-15 18:47] bcrochet commented on #480
Should be fixed by #485

[2022-03-15 19:37] wying3 opened #486 "capability of preflight running on total offline env ( on premise env) for some partners"
## Is your feature request related to a problem? Please describe.
(A clear and concise description of what the problem is. Ex. I'm always frustrated when [...])
some Telco partner's operator are deployed on premise clusters, and Preflight also runs on server without access to Redhat registry or github.com nor PR can be submit, as no bundle manifect/metadata allowed to be stored in github.
## Descr

[2022-03-15 20:37] bcrochet commented on #486
I'm not sure I understand why preflight would need to be run in a completely disconnected environment. Preflight does not need to be run against a "prod" cluster. In fact, I would discourage it.

What benefit does running preflight in a disconnected environment achieve? Please describe the use case further.

Also, when you say 'submit the result manually back to Red Hat'... Do you mean not running

[2022-03-15 21:56] acornett21 commented on #480
Re-opening this issue, since we had to revert #485 since ppc64le isn't supported in [sqlite](https://pkg.go.dev/modernc.org/sqlite) library

[2022-03-15 22:53] acornett21 opened #488 "preflight multi-arch build process should fail gracefully if all binaries are not produced"
## Bug Description
Right now we are just do a `grep` to see if _any_ binary as built, but this leads to us missing the fact that any given binary might not be built.

## Version and Command Invocation
`main`

## Steps to Reproduce:
1) Take PR #485 Into your local branch
2) Run `make build-multi-arch`
3) See that the power build fails, and does not produce a binary

## Expected Result
I'd expect ou

[2022-03-16 19:40] #488 closed

[2022-03-16 22:41] tonyskapunk opened #494 "check operator does not support image digest"
## Bug Description
(A clear and concise description of the issue)

preflight is expecting a tag in the image passed on the check operator, when a digest is passed it fails parsing it

## Version and Command Invocation
(The output of `preflight --version`)

preflight version 0.0.0 <commit: 06a9fd1520a37dc5b39328655f6ceaabf6471a51>

## Steps to Reproduce:
(How can we reproduce this?)
1) Use a digest

[2022-03-16 22:57] tonyskapunk opened #495 "preflight does not seem to allow multiple creds in the same registry"
## Bug Description
(A clear and concise description of the issue)

preflight is unable to use an authfile with multiple creds on the same domain.

This is similar to the issue reported in opm render https://github.com/operator-framework/operator-registry/issues/935

## Version and Command Invocation
(The output of `preflight --version`)

preflight version 0.0.0 <commit: 06a9fd1520a37dc5b39328655f6

[2022-03-17 08:09] itroyano opened #497 "Preflight image not passing preflight"
## Bug Description
[code]

## Expected Result
All checks should pass.

[2022-03-17 08:14] itroyano commented on #497
/assign

[2022-03-17 11:00] tkrishtop commented on #486
Hi @bcrochet, we do have one new partner who has a completely disconnected environment because of security reasons. They're anyway interested in running Preflight tests, getting results, being certified, and finally appearing in the catalog (but not in the marketplace). The others are not as extreme but the situation "I'd like to be in the catalog but not in the marketplace" is a sort of standard

[2022-03-17 13:44] bcrochet commented on #495
Where is your authfile located?

[2022-03-17 16:46] tonyskapunk commented on #495
Hi @bcrochet, my bad, the auth file is located under: `./repoconfig/config.json`, an env var is passed to preflight to make use of it like this:

[code]

[2022-03-17 17:41] tkrishtop opened #500 "[critical] Regression in 1.1.0-beta1: Preflight can't test images referred by sha anymore"
## Bug Description
Starting from the 1.1.0-beta1 version, Preflight can't pull the images referred by digest (sha) anymore.
1.1.0-alpha2 is the last version working fine.

The regression was probably introduced in the fix for #467 because `:` could appear in three situations:
- registry with port
- image referred by digest
- image tag

[Here is PR that probably introduced the bug](https://github.c

[2022-03-17 20:43] #25 closed

[2022-03-17 21:42] #500 closed

[2022-03-17 22:15] acornett21 commented on #494
@tonyskapunk This was fixed as apart of #500

[2022-03-17 22:15] #494 closed

[2022-03-18 08:27] tkrishtop commented on #500
thank you @acornett21 !

[2022-03-18 11:41] tonytcampbell commented on #495
@tonyskapunk would you mind testing this with a single cred in your auth file?  I have a feeling that may not work either. This may be an issue with all auth files.

[2022-03-18 12:20] tonytcampbell commented on #495
redhat-openshift-ecosystem/operator-pipelines#270

edhat-openshift-ecosystem/operator-pipelines#276

[2022-03-18 12:24] tonytcampbell commented on #495
redhat-openshift-ecosystem/operator-pipelines#270

[2022-03-18 13:14] tonyskapunk commented on #495
Hi @tonytcampbell , it does work with a single cred, some other errors are listed in this example, but it's able to download the image this time.

[code]

[2022-03-18 15:44] acornett21 commented on #500
@tkrishtop Sorry we missed this in our testing. Thanks for always filing detailed issues, it makes pinpointing the root cause very easy.

[2022-03-21 08:51] itroyano opened #502 "[Doc or bug?] check container for non-UBI and non-RHEL based images"
Should `check container` support non-UBI or non-RHEL images?

[code]

## Expected Result

An error stating only UBI and RHEL images are supported.  potentially with a doc link.
Or skip the packages check in case non-RHEL is actually intended to be supported.

[2022-03-21 14:00] acornett21 commented on #502
I think it's a given that we only support UBI/RHEL since one of the checks is `BasedOnUBI`, so I'm not sure more documentation is needed in `preflight` since there is documentation in gitbook/connect/etc.

[2022-03-21 14:36] acornett21 commented on #495
@tonyskapunk With the multi-auth file would you be able to test with the tool `crane` ie [this](https://github.com/google/go-containerregistry/blob/main/cmd/crane/README.md)

And then try to run the below and let us know if you have the same error?
`crane pull <your-image>`

[2022-03-21 14:43] acornett21 commented on #495
I think based on `crane's` [readme](https://github.com/google/go-containerregistry/blob/main/pkg/authn/README.md#docker-config-auth) for the `authn` package, this is not supported.

[2022-03-21 15:26] wying3 commented on #486
thanks @tkrishtop comment, this is exact the reason I m asking, I m dealing with Telco partners too.

[2022-03-21 15:49] acornett21 commented on #403
For `preflight` to implement this, we would need supporting changes in pyxis as well, since what `preflight` displays to the user is the payload that we send to `pyxis`.

[2022-03-21 17:49] acornett21 opened #503 "preflight `version` is not set on a release of the binaries"
## Bug Description
In our github actions we are only setting version when releasing the images, not when releasing the binaries. `RELEASE_TAG` defaults to `0.0.0`

## Version and Command Invocation
`1.1.0-beta4`

## Steps to Reproduce:
1) pull a binary from the release page
2) run `preflight --version`
3) see version is `0.0.0`

## Expected Result
I'd expect version to be `1.1.0-beta4`

## Actual

[2022-03-21 17:53] acornett21 commented on #503
Thanks @jsm84 for pointing this out!

[2022-03-22 03:16] xueyl88 commented on #486
My Telco partner have same request. Due to their security policy. They can't expose any image link to public network. So they can only run the tests in their internal disconnected environment.
And when they customer need to use their product, this Telco partner's eng team will deploy this product for the customer offline. Which mean they don't allow end customer to down their images directly.
So t

[2022-03-22 11:58] vikasmulaje opened #506 "BasedOnUbi fails with Error when querying pyxis for uncompressed top layer idsRecieved http status 404 Not Found"
## Bug Description
BasedOnUBI fails with Error when querying pyxis for uncompressed top layer idsRecieved http status 404 Not Found
## Version and Command Invocation
(The output of `preflight --version`)
preflight version 0.0.0 <commit: 5fd339e59c1faa01cb8bf8e72754e6b8660400a3>

## Steps to Reproduce:
(How can we reproduce this?)
1) ./preflight check container registry.connect.redhat.com/haproxyte

[2022-03-22 13:50] itroyano commented on #502
/assign

[2022-03-22 14:27] #503 closed

[2022-03-22 14:29] #370 closed

[2022-03-22 18:39] #506 closed

[2022-03-23 16:35] tkrishtop opened #508 "1.1.0-beta5 BasedOnUbi check fails with "Error when querying pyxis for uncompressed top layer idsGet""
## Bug Description
1.1.0-beta5 BasedOnUbi fails with "Error when querying pyxis for uncompressed top layer idsGet"

## Version and Command Invocation
1.1.0-beta5

## Steps to Reproduce:
[code]

## Expected Result
- BasedOnUbi should not call Pyxis
- BasedOnUbi should pass, in Preflight 1.0.8 this image was 100% green

[code]

## Actual Result
- BasedOnUbi calls Pyxis, and it's not clear why
- Base

[2022-03-23 17:27] vikasmulaje commented on #508
@tkrishtop This is an improvement in BasedOnUbi.
Check  https://github.com/redhat-openshift-ecosystem/openshift-preflight/issues/25
https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/482

[2022-03-24 14:56] #497 closed

[2022-03-24 14:57] #502 closed

[2022-03-24 16:50] tonyskapunk commented on #495
Sorry for the late response, but yes it fails with `crane`.

I have the `config.json` with multiple creds to the same quay.io registry and fails:

[code]

When I remove the addition entry, then it works:

[code]

[2022-03-24 20:26] acornett21 commented on #508
@tkrishtop Calling Pyxis for this check is a requirement. I validated the above image passed this check in UAT after prod data was migrated to UAT. There is still an outstanding issues in Pyxis that needs to be pushed to production improve the performance of this call, since `preflight` is calling the external instance of Pyxis. That can be tracked in this [JIRA](https://issues.redhat.com/browse/I

[2022-03-24 20:51] itroyano opened #516 "Non Root fails on creating an artifacts folder"
## Bug Description

[code]

[2022-03-24 20:51] itroyano commented on #516
/assign

[2022-03-25 10:12] tkrishtop commented on #508
Hi @acornett21, thank you for the response!

The real issue concerns not this testing image testpmd but the private image of one of our Telco partners. I tried that private image with UAT, there is an empty response from Pyxis, and then everything's fine `msg="check completed: BasedOnUbi" result=PASSED`:
[code]

Let's wait for the prod refactoring.

[2022-03-25 13:44] bcrochet opened #517 "Preflight should always use production pyxis for checking base layers"
Since the data in pyxis lower envs cannot be relied upon to have the actual latest data, production should always be used for checking against base layers.

[2022-03-25 14:52] #516 closed

[2022-03-25 15:10] acornett21 commented on #495
@tonyskapunk No worries, we would have to request for this feature to be added to `crane` since we are using that tool in `preflight`. I will file a feature request today.

[2022-03-25 15:40] acornett21 opened #519 "Update all `check container` KnowledgeBaseURL and CheckURL in every Check"
## Is your feature request related to a problem? Please describe.
Before `check container` goes GA, the documentation is moving to a new location, so we need to update all of our URL's to point to the new location.

## Describe the solution you'd like.
Update both `KnowledgeBaseURL` and `CheckURL` in all of the `check container` checks.

## Describe alternatives you've considered.
N/A

## Addition

[2022-03-25 15:41] acornett21 commented on #519
@taylorjordanNC Please update this issue once you have the production URL and documentation posted. Thanks!

[2022-03-25 16:31] acornett21 commented on #508
The data for the failed image is actually this data:

[code]

[2022-03-25 18:20] #517 closed

[2022-03-28 07:49] tkrishtop commented on #508
Hi @acornett21 I retested this morning:

Pyxis UAT + testpmd + 1.1.0-beta5 = non-zero response from Pyxis = BasedOnUbi passed
Pyxis UAT + testpmd + 1.1.0-beta5 = Pyxis timeout = BasedOnUbi failed --> would it be better to provide more precise error in this situation?

[2022-03-28 11:47] bcrochet opened #521 "Container registry and repository are not being populated."
container.registry and container.repository need to be populated on the cert project.

[2022-03-28 19:48] bcrochet opened #523 "Base layer is not always non-zero length, causing HasModifiedFiles to fail"
The base layer of an image is sometimes zero. Ubi-micro, for instance, has a zero-length layer at its base. This is most likely because ubi-micro is based on 'FROM scratch'.

HasModifiedFiles needs to take this into account.

If layer[0] is len(0), then layer[1] should be considered the base layer. And the modified files search should continue from layer[2]

[2022-03-28 19:52] komish commented on #523
/assign

[2022-03-29 07:56] tkrishtop commented on #508
@acornett21 I mean the error displayed in the results. Currently, it's confusing for the partners which do base their images on the UBI but receive an error `Change the FROM directive in your Dockerfile or Containerfile to FROM registry.access.redhat.com/ubi8/ubi` because of Pyxis timeout.
[code]

[2022-03-29 15:00] bcrochet commented on #508
That part is fixed by #518. Which will be in the next beta. It will now be reported as an error, not a failure.

[2022-03-29 19:55] #523 closed

[2022-03-29 19:58] bcrochet commented on #508
With the release of 1.1.0-beta6, I'm marking this as closed. Feel free to reopen if necessary.

[2022-03-29 19:58] #508 closed

[2022-03-29 20:14] jomkz commented on #403
After discussing this a bit, we will log a message to `stderr` that indicates the overall result to make it more clear to the end user.

[2022-03-29 22:52] tonyskapunk opened #529 "Non-rpm based image fails without clear error message"
## Bug Description
(A clear and concise description of the issue)
Using preflight check container with a non-rpm based image fails with a clear error message.

## Version and Command Invocation
(The output of `preflight --version`)
preflight version 1.1.0-beta5 <commit: 5feddaee9808781cd9ae760acd94f2545e8e70aa>

## Steps to Reproduce:
(How can we reproduce this?)
1) Run preflight binary with an im

[2022-03-30 08:26] itroyano commented on #529
Hi @tonyskapunk ,
can you try with beta6 ?

[2022-03-30 08:28] yuriolisa opened #530 "change error message"
## Bug Description
Preflight is presenting the following error when we set an invalid `--pyxis-host` (i.e `catalog.uat.redhat.com/api/container` instead of `/containers`) .

## Version and Command Invocation
`preflight version 0.0.0 <commit: 2ebe87409fcc9333149511466fdb452ccb88ad44>`

## Steps to Reproduce:
1) Run preflight check container with the wrong --pyxis-host parameter.

## Expected Result

[2022-03-30 08:29] itroyano commented on #530
/assign

[2022-03-30 08:29] itroyano commented on #530
/assign

[2022-03-30 13:46] #403 closed

[2022-03-30 14:41] bcrochet commented on #529
And as far as I know, non-rpm images are not supported anyway. Scratch images are an exception, but requires having OsContentType set to "scratch" in Pyxis. That is not settable directly.

[2022-03-30 16:03] tonyskapunk commented on #529
Hi @itroyano I tried with beta6 and I see an improved message:
[code]

@bcrochet , thanks for that clarification as one could say that all images come from scratch :smile: , but your comment clarifies that.

[2022-03-30 16:03] #529 closed

[2022-03-30 16:06] acornett21 commented on #495
I raised an issue for `crane` which can be found below:

- google/go-containerregistry#1329

[2022-03-30 20:11] acornett21 opened #533 "HasModifiedFiles fails intermittently since it tries to re-pull the image"
## Bug Description
It seems that HasModifiedFiles check is re-pulling the image, so sometimes it fails.

## Version and Command Invocation
`1.1.0-beta6`

## Steps to Reproduce:
1) Run `check container gcr.io/kasten-images/frontend:4.5.11`

## Expected Result
I'd expect this image to always pass

## Actual Result
Sometimes you get the below error:

[code]

## Additional Context
We should always mak

[2022-03-30 20:46] acornett21 commented on #480
This was fixed in the below issue
- Relates: #531

[2022-03-30 20:46] #480 closed

[2022-03-30 23:11] tonyskapunk commented on #495
Thanks for doing that @acornett21 I've tested with the latest branch as suggested and does not seem to work for me.

My authfile looks like this, I've left out the auth strings:
[code]

Running crane in main branch does not seem to work:

[code]

If I leave only one auth it works as expected:

[code]

[2022-03-31 13:56] #533 closed

[2022-03-31 14:57] ericgarff opened #535 "Exit code doesn't change based on success or failure"
## Bug Description

When running preflight, regardless of the result the exit code is 0 (shown via `echo $?`).

## Version and Command Invocation
preflight version 1.1.0-beta6 <commit: 2ebe87409fcc9333149511466fdb452ccb88ad44>

## Steps to Reproduce:
(How can we reproduce this?)
1) Run preflight on an image that passes all checks and echo the exit code, then run preflight on an image that fails an

[2022-03-31 17:21] jomkz opened #536 "Enhance messaging when RunAsNonRootCheck fails"
## Is your feature request related to a problem? Please describe.

We have been asked to enhance the message displayed when `RunAsNonRootCheck` fails to provide more context as to how this failure could be resolved. For example, to simply include a missing `USER` attribute to the Dockerfile for the container image under test. Currently, we log a `DEBUG` message but logging at that level may not be

[2022-03-31 22:37] #536 closed

[2022-04-04 08:47] tkrishtop commented on #535
I don't think that a failing test is a reason for a non-zero exit code. The exit code should be different in two situations:

1. Exit 0: All tests were running, some of them passed, and some failed.
2. Exit 1: Preflight encountered an error during the execution and this error prevented Preflight from running all the tests.

We could probably introduce the third exit code to distinguish the situati

[2022-04-04 10:10] vikasmulaje opened #542 "preflight make build fails on s390x with cgo: C compiler "s390x-linux-gnu-gcc" not found: exec: "s390x-linux-gnu-gcc": executable file not found in $PATH"
## Bug Description
preflight make build fails on s390x with cgo: C compiler "s390x-linux-gnu-gcc" not found: exec: "s390x-linux-gnu-gcc": executable file not found in $PATH
## Version and Command Invocation
(The output of `preflight --version`)

## Steps to Reproduce:
(How can we reproduce this?)
1) git clone https://github.com/redhat-openshift-ecosystem/openshift-preflight.git
2) cd openshift-pre

[2022-04-04 10:21] itroyano commented on #542
Hi @vikasmulaje,
please see if you have GCC installed. `yum list | grep gcc`

[2022-04-04 12:36] tkrishtop opened #543 "[critical] Regression since 1.1.0-beta6: Permission denied error when running preflight as podman run"
## Bug Description
Starting from the 1.1.0-beta6 version, Preflight fails with `Error: open /home/nonroot/artifacts/results.json: permission denied` both for `check operator` and `check container`. The error is the same in both cases. That blocks check operator tests.

The issue was introduced in 1.1.0-beta6, and 1.1.0-beta5 doesn't have this error.

The issue most probably was introduced [here](h

[2022-04-04 12:37] tkrishtop commented on #543
cc: @itroyano @bcrochet

[2022-04-04 12:52] tkrishtop commented on #543
I have the impression that UID 65532 is out of the possible range.

Fedora 34:
[code]

RHEL 8.5
[code]

[2022-04-04 14:16] jomkz commented on #543
@tkrishtop I could be wrong, but the way that I read that comment is that the `useradd` utility will use something in that range when creating a new user, not that a value outside of that is invalid.

[2022-04-04 15:59] itroyano commented on #543
@tkrishtop @[tonyskapunk](https://github.com/tonyskapunk) PR is up for reverting the user change.
please see description in #545

[2022-04-04 16:48] #543 closed

[2022-04-05 06:59] yossig-aquasec opened #546 "RunAsNonRoot" result=FAILED"
## Bug Description
Hi, in the old scanning mechanism we are passing the RunAsNonRoot tests, but falling in the Preflight tool
we ran the testes on the same image:

![image](https://user-images.githubusercontent.com/82142290/161695961-a3349f25-f7d7-4c56-b902-53be6c18c8f2.png)

Preflight command:
`preflight check container registry.aquasec.com/console:6.2.22087-ubi8 --pyxis-api-token=<redacted> --ce

[2022-04-05 07:22] tkrishtop commented on #543
Thank you @itroyano! In our daily tests for preflight main branch I see that check operator is running fine `"version": "1.1.0-beta6-alpha+cf9c25f435cc1d6d9d3d694ac7b9fe8ecfa61aa5"`

[2022-04-05 08:24] yossig-aquasec opened #547 "failed to read docerconfig file when running the commmand with --submit"
## Bug Description
when running the command with `--submit` it failed to get docker config file.
example:
[code]

but, when running the same command without `--submit` it works

## Version and Command Invocation
preflight version 1.1.0-beta6 <commit: https://github.com/redhat-openshift-ecosystem/openshift-preflight/commit/2ebe87409fcc9333149511466fdb452ccb88ad44>

## Steps to Reproduce:
run check

[2022-04-05 12:28] jpaulovic commented on #378
@tonytcampbell what's the status of this one? Is it still needed?

[2022-04-05 13:19] vikasmulaje commented on #542
@itroyano before github.com/mattn/go-sqlite3 library it used to work without asking any dependency. if this is not an issue can we add some note/documentation to add more clarification on this?

[2022-04-05 13:28] itroyano commented on #542
Hi @vikasmulaje,
I'm not sure if a note is needed since this isn't an issue with Preflight functionality.
the use case is building the binary natively on your specific s390 machine.
sqlite is a library added to support UBI 9 Beta, and seems it requires the above specific C compiler.  please see if there's a way to install it and have it present in the PATH so the Go compilation can invoke it.

[2022-04-05 13:40] itroyano commented on #542
one more thing you can try, is setting `CGO_ENABLED=0`.
depending on your Go version, it may be enabled by default - and is enabled for native compilation.
note the Preflight build uses Cross-Compilation to create a binary for s390x.

[2022-04-05 14:11] vikasmulaje commented on #542
`CGO_ENABLED=0` worked thanks

[2022-04-05 14:11] #542 closed, assigned to nobody

[2022-04-05 15:44] ericgarff commented on #535
From a programmatic/pipeline standpoint, having any sort of non-zero exit code would be beneficial.  If I'm reading it correctly, exit 2 would be if a particular test or tests failed?

[2022-04-05 15:53] tkrishtop opened #549 "Is that possible to run Preflight tests (without --submit) without providing Pyxis project ID?"
## Is your feature request related to a problem? Please describe.
For Preflight 1.0.8, parameters `certification-project-id` and `pyxis-api-token` were not required to simply run the tests. Starting from 1.1.0-beta1 pre-release, these parameters become mandatory.

We face quite often a situation when the partners want first to simply run the tests, to estimate the work to do. Now, in such situatio

[2022-04-05 16:13] acornett21 commented on #547
@yossig-aquasec This should be the full path to the `config.json` ie `/Users/yossig-aquasec/.docker/config.json` or ` ${XDG_RUNTIME_DIR}/containers/auth.json`

[2022-04-05 16:18] acornett21 commented on #549
@tkrishtop These are needed to know the type of project that has been setup in `connect` so `preflight` knows what we are trying to test/validate against. Partners should be setting up their projects before they start to test. This is the same user experience as with CVP.

[2022-04-05 16:59] bcrochet commented on #546
Does your Dockerfile contain a USER statement? Without that, you will fail this check. This is as designed. Running a container without a USER directive will result in root.

[2022-04-05 16:59] #546 closed

[2022-04-05 17:57] itroyano commented on #549
in addition, I'm not sure if `check container` was a supported flow in 1.0.x, rather than early alpha state.

[2022-04-06 09:32] yossig-aquasec commented on #547
Hi, the command with `--submit` option was succeeded when I used the full user path instead of ~/
but why its not aligned with the command without `--submit`?
if its work without `--submit` its should work the same with `--submit`

[2022-04-06 12:14] anildhaneshwar opened #551 "Observed error while running preflight"
Hi,

We are getting below error while running preflight tool.

# sudo podman login -u unused scan.connect.uat.redhat.com
Password:
Error: authenticating creds for "scan.connect.uat.redhat.com": error pinging docker registry scan.connect.uat.redhat.com: Get "[https://scan.connect.uat.redhat.com/v2/":](https://scan.connect.uat.redhat.com/v2/%22:) dial tcp: lookup scan.connect.uat.redhat.com on 10.80

[2022-04-06 14:18] acornett21 commented on #551
Hi @anildhaneshwar the inbound certification registry is not available in UAT. In the beta docs [here](https://github.com/redhat-openshift-ecosystem/certification-releases/blob/main/containers/beta-workflow.md) it states that images should be pushed to production.

[code]

[2022-04-06 14:18] #551 closed

[2022-04-06 14:33] acornett21 commented on #547
@yossig-aquasec That argument is only invoked when `--submit` is passed in, in all other cases it is ignored and not used. I hope that helps clarify.

[2022-04-06 14:33] #547 closed

[2022-04-06 14:41] yossig-aquasec commented on #547
@acornett21 sorry, but if I Don't add it to the command (without --submit) it will fail to download the image for scanning

[2022-04-06 15:10] acornett21 commented on #547
@yossig-aquasec Without `docker-config` flag set, `preflight` can still pull the image properly. The `docker-config` is only used in the submit flow to send the docker config file to Red Hat systems. If you remove `--submit` and `--docker-config ` flags preflight can still pull the images since the library we use to pull the image looks int he default location.

[2022-04-06 15:15] yossig-aquasec commented on #547
Thanks for the explanation, I will try and update if something will fail

[2022-04-06 16:51] bcrochet opened #552 "Proposal - Make pyxis credentials optional unless submitting"
# Proposal - Make Pyxis credentials optional unless Submitting

## Current State

The current state of `preflight check container` requires a user to provide Pyxis credentials, via the `--certification-project-id` and `--pyxis-api-token`. This requires that a project be set up in Pyxis prior to utilizing the preflight tool.

The reason for these credentials is that a call to Pyxis is required to g

[2022-04-06 17:17] komish commented on #552
For context, I believe this relates to https://github.com/redhat-openshift-ecosystem/openshift-preflight/issues/549.

[2022-04-06 17:27] komish commented on #552
To clarify, are you specifically referring to the fact that we remove checks for scratch images? Because success/failure should be identical otherwise, regardless of the value of the submit flag.

[2022-04-06 18:10] itroyano commented on #552
One specific user-unfriendly case of the above equation, is a user running his X image twice -
- first time G is skipped (without necessarily the user knowing it should run), resulting in a successful flow.
- second time, with submit, G is executed and G(X)=fail, resulting in a failed flow.   note: failed flow because of a check.  not because something went wrong with the submit action itself.

Fr

[2022-04-06 18:28] komish commented on #552
Understood. I generally agree. I think the difference in scenario is that running without the `--submit` flag will almost always result in _more check_ given @bcrochet's current design. In other words, I believe the design currently enforces that running without `--submit` prevents Preflight from determining whether or not your image is allowed to be based on scratch (because that requires API cal

[2022-04-06 18:42] bcrochet commented on #552
That is not how it would work. The only workflow that this would change would be a scratch one. And in the case of scratch, if run without credentials, they would run all the checks.

If the run with credentials, OR they go to submit, they will run fewer checks, not more. Your scenario is not possible.

The reason being, Pyxis is the source of truth as to whether a container image is even *allowed

[2022-04-06 19:33] bcrochet commented on #552
Not sure about troubleshooting.md, but an FAQ would not be a bad place for something like this.

[2022-04-06 21:37] skattoju commented on #552
I think this approach makes sense. The only thing that feels awkward (from the implementation perspective but not the UX perspective) is us skipping tests based on something pyxis knows i.e. the scratch status. Probably unpopular opinion but I think in case of scratch images we should still do those tests and submit failed results and let pyxis decide whether to move forward with them since it's t

[2022-04-07 15:32] jomkz commented on #552
I agree with @skattoju, I feel like we are building exceptions into preflight and from there where does it stop as we add more policies? If Pyxis is the source of truth or authority for certification then we should just submit the failed results and let the exception be granted through a support interaction.

[2022-04-07 15:40] ericgarff commented on #535
As a point, not sure if this was expected, but if it fails the supported red hat image check it fails with a non-zero exit code, so this is potentially inconsistent?

[2022-04-07 16:08] acornett21 commented on #552
@jomkz  I feel this is the direction that `preflight` should go, but I believe that the business wants to drive `preflight` in another direction. IE we are the source of truth and we run x,y,z,1,4,7 checks based on what is setup in pyxis when a project is created and exceptions have been added. (However, I'm not certain that exception will be added before hand, since today they are done after the

[2022-04-07 16:10] acornett21 commented on #552
I think the troubleshooting.md would be [here](https://github.com/redhat-openshift-ecosystem/certification-releases/blob/main/containers/troubleshooting.md) like it is for `check operator` flow. And we could build out this documentation.

[2022-04-07 16:45] komish commented on #552
---

I generally agree with this point of view. I see UX problems introduced here as follows:

1) The pipelines running Preflight need to know if this is going to change how they evaluate results. I believe they check the overall state of our User Response. If they need to handle exceptions, they need to know about this before we implement it, unless it doesn't affect operator certification.

2) U

[2022-04-07 17:11] bcrochet commented on #552
The arguments aren't going away. They would just become optional for non-submit. RunAsRoot is a different scenario as well. That information doesn't come from Pyxis. Scratch is determined exclusively from Pyxis.

As to knowing what passes/fails etc. Take the RunsAsRoot example... A partner would *know* that the check won't pass, because they asked for an exception. They aren't going to be confused

[2022-04-07 17:17] bcrochet commented on #552
I think we can, upon submit, also massage the result if needed. Get some data from pyxis then, determine if it is scratch, and remove the 3 checks at that time from the result, and if what's left is passing, then set Pass: True. So instead of worrying about scratch up-front, we move the processing to a later step in the preflight execution.

My thinking is that if they know enough that they want/n

[2022-04-07 17:52] acornett21 commented on #552
I'm saying `RunsAsRoot` or any other check could be the _same_ scenario as Scratch where the business asks us to source the data from pyxis and run that check based on a flag stored in pyxis. I'm thinking the business only wants `Success` cases to end up in pyxis and all exception handling/processing done upfront in `preflight` and not offloaded to pyxis, that's why I bring up another use-case tha

[2022-04-07 18:17] bcrochet commented on #552
That sounds like a communication problem, not a software problem. And I think we can also do that checking/filtering at submit time.

[2022-04-07 20:03] acornett21 commented on #552
It's totally a software problem, it's a software usability, user experience issue. If users will only know what tests will truly pass during submission time that's a bad user experience.

[2022-04-07 20:12] bcrochet commented on #552
The tests that pass won't change. You just won't have the failing ones.

We have Suggestion field in the output. We put in there "If this is a scratch image, and you have an exception, this test is not expected to pass, and will not be a part of the submission to Red Hat".

[2022-04-07 20:57] acornett21 commented on #552
Yes, I know that passing tests won't change. I probably should have said "If users only know what tests will be run during submission time that's a bad user experience". IE having different tests for `submit` vs `non submit`.

I'm trying to explain other use cases other than scratch as well, but it seems future cases seem not to matter in this discussion, which is fine. If we want to deal with tho

[2022-04-07 21:12] bcrochet commented on #552
Possible alternative. Again, would be a documentation and communication problem. We make this part optional as proposed. However, we make it very clear that if you are seeking an exception of any kind, you will need to have a project ID and token. Basically, when the exception is requested, it is communicated that in order to have the correct set of tests they have to run always with these flags.

[2022-04-08 12:45] tkrishtop commented on #552
Hi @bcrochet it would be nice to have things done as you propose.

When we work with partners, some of them are determined to be certified but the others are not sure. Usually, we would do a presentation and then the next request is to run the tests fast to get an overview. The partners would like to first estimate an upcoming work by checking test results, and then commit by dealing with connect.

[2022-04-11 05:27] anildhaneshwar commented on #551
Thanks @acornett21 ! We are getting new error now.

---
$ PFLT_PYXIS_HOST=catalog.uat.redhat.com/api/containers
$ preflight check container scan.connect.redhat.com/ospid-6250064546dc0036e529344f/infoscale:8.0.0.0000-rhel8.4-4.18.0-305.7.1.el8_4.x86_64 --pyxis-api-token=c4o3330rb15emg21xztlzxs3n9yf4fa8 --certification-project-id=624aaedabe4dd77dc8638007
INFO[0000] certification library version 0.0.

[2022-04-11 05:33] anildhaneshwar opened #557 "getting error while running preflight tool"
We are getting new error while running preflight tool.

$ PFLT_PYXIS_HOST=catalog.uat.redhat.com/api/containers
$ preflight check container scan.connect.redhat.com/ospid-6250064546dc0036e529344f/infoscale:8.0.0.0000-rhel8.4-4.18.0-305.7.1.el8_4.x86_64 --pyxis-api-token=c4o3330rb15emg21xztlzxs3n9yf4fa8 --certification-project-id=624aaedabe4dd77dc8638007
INFO[0000] certification library version 0.0.

[2022-04-11 15:29] bcrochet commented on #552
We seem to have enough of a consensus on this to move forward. Will implement this as a fix to #549.

[2022-04-11 15:29] #552 closed

[2022-04-11 16:53] ericgarff commented on #535
`root@1ceeb6233927:/# preflight check container gcr.io/kasten-images/grafana:k10-8.1.8 --pyxis-api-token=XXXXXXX --certification-project-id=XXXXXX --pyxis-host=catalog.uat.redhat.com/api/containers ; echo $?
time="2022-04-11T16:50:11Z" level=info msg="certification library version 1.1.0-beta6 <commit: 2ebe87409fcc9333149511466fdb452ccb88ad44>"
Error: unsupported image. only RHEL/UBI or scratch bas

[2022-04-11 17:13] acornett21 commented on #551
@anildhaneshwar The API ket needs to come from UAT as well. If the project and api key do not match you will get this error. See the below URL to create a UAT api-key.

https://connect.uat.redhat.com/account/api-keys

[2022-04-11 17:14] acornett21 commented on #557
@anildhaneshwar The API ket needs to come from UAT as well. If the project and api key do not match you will get this error. I see the project exists in UAT, please make sure the key is from UAT as well. See the below URL to create a UAT api-key.

https://connect.uat.redhat.com/account/api-keys

[2022-04-12 05:31] anildhaneshwar commented on #557
@acornett21 We are using same key but no luck. Let me know if you need any logs to debug it further.

Thanks,
Anil Dhaneshwar

[2022-04-12 07:50] itroyano commented on #557
@anildhaneshwar what happens if instead of `PFLT_PYXIS_HOST=catalog.uat.redhat.com/api/containers`
you run the command with `--pyxis-host=catalog.uat.redhat.com/api/containers` ?

[2022-04-12 10:38] anildhaneshwar commented on #557
We have followed the following steps for the preflight flight tool run:

Created a setup with required versions of OperatorSDK and OpenShift Client as mentioned [here](https://github.com/redhat-openshift-ecosystem/openshift-preflight/tree/e91e9dfece9ef5bed7f9ccedc1c4200b05fba305). Successfully created the preflight binary:
[root@sclswiftd630-37vm11 ~]# preflight --version
preflight version 0.0.0 <

[2022-04-12 10:59] itroyano commented on #557
@anildhaneshwar the latest error is trying to pull the image to scan it.  can you provide `-d, --docker-config string path to docker config.json file` with the appropriate pull credentials ?

P.S:  is the image path correct?  I'm not sure if "opsid" should be there or not.

[2022-04-12 13:25] anildhaneshwar commented on #557
@itroyano

We tried your suggestion and passed the required docker flag, but still getting same error:

---
[root@dl360g10-117-con-v41 docker]# preflight check container scan.connect.redhat.com/ospid-6250064546dc0036e529344f/infoscale:8.0.0.0000-rhel8.4-4.18.0-305.7.1.el8_4.x86_64 --pyxis-api-token=79vkg9fpcrv48sahv6zig3p7ho1wh2xo --certification-project-id=624aaedabe4dd77dc8638007 --pyxis-host=ca

[2022-04-12 14:09] sumitkumarsoni commented on #557
Have tried the following steps as well:

1. Logged in to the prod project having an image that we need to scan:

[root@dl360g10-117-con-v41 docker]# docker login -u unused [scan.connect.redhat.com](http://scan.connect.redhat.com/)                                                  Password:

WARNING! Your password will be stored unencrypted in /root/.docker/config.json.
Configure a credential helper

[2022-04-12 14:16] itroyano commented on #557
@tkrishtop @bcrochet @acornett21 shouldn't it be config.json instead of daemon.json,  after successfully logging into the repo?

[2022-04-13 05:41] anildhaneshwar commented on #557
Thanks @itroyano @acornett21... Our issues are resolved now. Thanks for your help.

[2022-04-13 05:41] #557 closed

[2022-04-13 15:07] komish opened #562 "Required image labels may be carried over from base images"
## Bug Description
Preflight checks to ensure that a container image has required labels for submission to Certification. If the base image contains these labels, and the resulting image doesn't change them, the resulting image seems to have the base image's labels, which passes checks.

## Version and Command Invocation
All versions, `check container`.

## Steps to Reproduce:
Build an image based

[2022-04-13 19:26] acornett21 commented on #562
We should probably do what CVP does and make a call to pyxis for this unfortunately :(

[code]

[2022-04-14 21:57] acornett21 opened #568 "Run `RunAsNonRoot` Check Should Be Conditionally Applied"
## Is your feature request related to a problem? Please describe.
The `RunAsNonRoot` check should be conditionally applied based on the `certProject.container.privileged` that comes from pyxis.

## Describe the solution you'd like.
We exclude this check if `certProject.container.privileged = true` when we call pyxis during `submit`

## Describe alternatives you've considered.
N/A

## Additional co

[2022-04-17 12:45] itroyano commented on #530
being addressed by https://github.com/redhat-openshift-ecosystem/openshift-preflight/pull/566
we'll be simplifying the pyxis url input, and assuming that if the user does actually provides a url - overriding default - he knows what he's doing.

@yuriolisa @jomkz @bcrochet does this sound ok?
if so - can this issue be closed when the PR is merged?

[2022-04-18 00:40] bcrochet commented on #530
Maybe. Part of the problem is that it isn't that the host is bad. It's the path. We may be getting a 404 in that case, so we may need to handle 404 better.

[2022-04-18 07:43] vikasmulaje opened #570 "BasedOnUbi check fails with Error when querying pyxis for uncompressed top layer idsMessage: Unexpected error occurred, Locations: []"
## Bug Description
BasedOnUbi check fails with Error when querying pyxis for uncompressed top layer idsMessage: Unexpected error occurred, Locations: []
## Version and Command Invocation
preflight version 0.0.0 <commit: 47ea7c93db9fb2aa8aad097ce85c2d7f123c22ad>

## Steps to Reproduce:
(How can we reproduce this?)
1) Run preflight check container with submit
2)
3)

## Expected Result
BasedOnUbi che

[2022-04-18 14:18] acornett21 commented on #570
I believe there is still an outage with pyxis based on what I see in servicenow.

[2022-04-19 12:47] bcrochet commented on #570
Cam be tracked here: https://issues.redhat.com/browse/CLOUDWF-7488

[2022-04-19 12:47] #570 closed

[2022-04-20 14:38] acornett21 opened #571 "Flag to Determine Which pyxis env to Call Always uses "prod""
## Bug Description
When a user tries to set `--pyxis-env` preflight always ends up calling `"prod"`.

## Version and Command Invocation
`main`

## Steps to Reproduce:
1) Run `preflight check container <ramdomimage> --pyxis-env=uat`
2) See the `HTTP` calls to pyxis calling out to the prod url
3)

## Expected Result
That preflight honors the env that the user is trying to traget.

## Actual Result
p

[2022-04-20 15:08] #571 closed

[2022-04-20 15:54] jomkz opened #573 "Enable Test Code Coverage Reporting"
## Is your feature request related to a problem? Please describe.

We have been asked to report on the test code coverage for preflight.

## Describe the solution you'd like.

Ginko has a flag for this, so hopefully we can add that to the `test` target in our Makefile.

## Describe alternatives you've considered.

N/A

## Additional context.

We have the unit test output saved as part of the GitHu

[2022-04-20 22:52] acornett21 opened #576 "URL's Displayed to a User After `--submit` No Longer Show Lower `envs`"
## Bug Description
Since we change how the lookup works these values no longer match the `env` that is passed in.

## Version and Command Invocation
`rc2`

## Steps to Reproduce:
1) `check container <img> --submit --pyxis-env="uat"`

## Expected Result
I would expect all URL's displayed to a user match

## Actual Result
The `env` is not taken into account
[code]

## Additional Context
Not sure if

[2022-04-21 07:15] vikasmulaje opened #577 "preflight fails to pull the image when registry is insecure"
## Bug Description
preflight fails to pull the image when registry is insecure [scan.connect.qa.redhat.com]
## Version and Command Invocation
certification library version 1.1.0-rc1
## Steps to Reproduce:
(How can we reproduce this?)
1) Run preflight container check with scan.connect.qa.redhat.com
2)
3)

## Expected Result
Preflight should be able to pull registry which is insecure

## Actual Resu

[2022-04-21 07:58] vikasmulaje opened #578 "[Multiarch]Preflight fails with panic: runtime error: invalid memory address or nil pointer dereference for rpm-manifest for rhel9 images"
## Bug Description
[Power9]Preflight fails with panic: runtime error: invalid memory address or nil pointer dereference for rpm-manifest
## Version and Command Invocation
preflight version 1.1.0-rc1 <commit: 0c0918de527faae53b5df9efb7a054af533d455c>

## Steps to Reproduce:
(How can we reproduce this?)
1) ./preflight-linux-ppc64le check container registry.access.redhat.com/rhel9-beta/support-tool:9

[2022-04-21 08:50] itroyano commented on #578
@vikasmulaje can you open a shell into the image and verify the rpm db is there?

@bcrochet @acornett21 Is there an actual use case where https://catalog.redhat.com/software/containers/rhel9-beta/support-tools/60a9fcacaf9de74bd5388048 is used as a base image for a product being certified?
based on the description, this looks like a standalone runnable toolkit.
not something that a partner or a cus

[2022-04-21 09:43] vikasmulaje commented on #578
@itroyano This works in amd64 but in power machine it fails

[2022-04-21 10:25] itroyano commented on #578
@bcrochet line seems to be https://github.com/opdev/go-rpmdb/blob/master/pkg/sqlite3/sqlite3.go#L67
and this piece of code matches upstream.
I'm not entirely sure how a seg fault or an index out of bounds type error can occur here, since https://pkg.go.dev/database/sql#Rows.Next does a check if there is a "next"...
and more importantly - why it doesn't happen on amd64.

[2022-04-21 10:40] itroyano commented on #577
Had a PR up but closed it, since we'll probably want to have an "insecure" Crane option tied to a user flag.
similarly to curl's `-k, --insecure`

[2022-04-21 11:14] itroyano commented on #578
UPDATE from @vikasmulaje  - Preflight runs successfully as an image w `podman run`.
 the error happens with the binary.

[2022-04-21 12:17] bcrochet commented on #578
We need to verify that the image under test is actually a power image. Perhaps an arch mismatch causes this?

[2022-04-21 12:25] vikasmulaje commented on #578
@bcrochet I verified the images they are power images.

`[root@rdma-cert-03-lp7 ~]# podman inspect a2081dd535e1983966feab0e3ac13f23bda88e2b47eea7b623e61895c0e31e95
[
    {
        "Id": "a2081dd535e1983966feab0e3ac13f23bda88e2b47eea7b623e61895c0e31e95",
        "Digest": "sha256:5ecf1aadc8be1bb10e061d1f839057982503f3956911ca1c428fdacac255e9be",
        "RepoTags": [
            "registry.access.re

[2022-04-21 15:27] #576 closed

[2022-04-21 16:39] acornett21 commented on #578
From my testing something weird is going on either with the registry or with `crane`. If you test the rhel9 support tools image by tag you get the `amd64` image written to disk. But if you pull by the `ppc64le` sha the architecture written to disk is correct, however the same error is still throw. Need to test more, but this are my initial findings.

[2022-04-21 16:48] jomkz commented on #519
This should use the current policy guide:

https://access.redhat.com/documentation/en-us/red_hat_openshift_certification/4.9/html-single/red_hat_openshift_software_certification_policy_guide/index#assembly-requirements-for-container-images_openshift-sw-cert-policy-introduction

[2022-04-21 16:57] acornett21 commented on #519
@jomkz Is that what we want to go with? I thought something more detailed was getting written with our checknames and such?

[2022-04-21 17:02] taylorjordanNC commented on #519
That's the URL but the changes just haven't been pushed yet to show the increased detail - but let's use this URL.

[2022-04-22 14:31] jomkz commented on #519
In addition, they will likely be changing to a URL that is not OpenShift release specific so that we don’t have to change it for every minor release but we can use this for now.

[2022-04-22 14:42] acornett21 commented on #519
@jomkz Sounds good, PR for that above is open.

[2022-04-22 21:04] acornett21 commented on #578
After looking at this more it looks like our build process of the binaries (the binary in our containers work correctly) is not `CGO_ENABLED` properly. The sqlite library we use requires `CGO_ENABLED=1` this is why REHL9 images fail. This issue also affects `s390x` systems.

[2022-04-22 21:15] acornett21 commented on #573
I like the idea of this as a starting point, maybe not needed right now, but maybe we also do something similar to [this](https://itnext.io/github-actions-code-coverage-without-third-parties-f1299747064d)? ie

- Test coverage on PR and block under a certain % (maybe not useful today, but future state)
- Add the coverage to our readme else where in GH.

[2022-04-23 10:39] #519 closed

[2022-04-24 13:58] DanArlowski opened #584 "First Usage - Impressions and issues"
## Our RH Certification Status
we at Sosivio currently Working on certifying our product & operator for Red Hat Openshift.
Requirements are pretty straightforward from the documentation, so preflight came "just in time" to check our containers pre-publish and pre-releasing the frist version to be certified.

## How we're Preflight
- We use preflight to check out test containers
- We using a script

[2022-04-25 07:11] vikasmulaje commented on #578
@acornett21 FYI, This also affects arm64.

[2022-04-25 13:29] jomkz commented on #573
I am fine with that approach and I like the idea of blocking a PR if the test coverage does not meed a certain threshold.

[2022-04-25 14:37] acornett21 commented on #584
@DanArlowski Thanks for the detailed feedback! Few comments below.

When you say `privileged` do you mean your containers need to run as root? If so in you project settings in `Connect` you can change the `Host Level access` to `Privileged`. When you go to `--submit` the `RunAsNonRoot` check will not run, and will not be in the `Test Results`

I don't foresee this exception process changing right

[2022-04-25 14:42] acornett21 commented on #578
@vikasmulaje On `arm64` it's just the binary correct? The container runs properly?

[2022-04-25 15:25] bcrochet commented on #573
At least there needs to be a positive delta, not necessarily a specific percentage.

[2022-04-25 15:36] acornett21 commented on #573
I agree this is ideally the way to go, not sure if any of the tools work like this though. I've never seen one setup this way, it's always a `>85%` type situation. The 2nd link is probably more along the lines of what we were talking about in the meeting. Shows the coverage by packages in the comments of a PR.

[2022-04-25 15:43] #378 closed

[2022-04-26 06:59] anildhaneshwar opened #585 "test "RunAsNonRoot" is failing for project"
Hi,

We have a project: "InfoScale SDS" with Project ID: ospid-617a96d3bcb1628c8d251dd6 on the Redhat registry. While running the preflight tool, the test "RunAsNonRoot" is failing for this project.
This project needs to run as a root user only and we can't allow access to the non-root user for this project. We request to allow an exception for the test "RunAsNonRoot" for this project.

Thanks,
An

[2022-04-26 11:07] vikasmulaje commented on #585
Hi Anil,

For running container as root and to skip "RunAsNonRoot" check you need to set the Privileged checkbox in https://connect..redhat.com/projects/617a96d3bcb1628c8d251dd6/settings and rerun the tests.

Thanks

[2022-04-26 13:42] #585 closed

[2022-04-26 15:19] anildhaneshwar commented on #585
@vikasmulaje, Thanks for response !

The shared link is not working. Could you please check ?

[2022-04-26 15:20] anildhaneshwar commented on #585
@vikasmulaje Thanks for response !

[2022-04-27 13:25] vikasmulaje commented on #578
Yes, its only the binary in releases, container works fine.

[2022-04-27 22:22] #578 closed

[2022-05-02 12:09] bcrochet commented on #495
This may be fixed in #588. Please test with that patch. If it isn't, then I will work to ensure that it is.

[2022-05-02 19:00] maratsal opened #593 "check image built locally without pulling it from remote registry"
## Bug Description
Not sure if this is an issue, maybe feature request. When I build container locally and try to use preflight to check compliance it is trying to pull container image from the remote registry with prepending docker.io. Is there a way to do check up of locally available containers? Here is an example:
[code]

## Version and Command Invocation
(The output of `preflight --version`)

[2022-05-02 23:06] acornett21 opened #596 "Submissions Fail when Docker Registries are Used for Images that Are Published"
## Bug Description
If a partner has an image that is hosted in DockerHub and has a project that's already setup in connect, and that project references `Registry: docker.io` they can no longer submit images to Red Hat.

## Version and Command Invocation
`1.1.0`

## Steps to Reproduce:
1) Setup a new project in connect and set `Registry: docker.io`
2) Host an Image in DockerHub
3) Run `preflight ch

[2022-05-03 00:20] jfrancin opened #597 "running preflight check container as root fails (RHEL 8.5)"
## Bug Description
`preflight check container` fails when run as root on a reagainst scan.connect.redhat.com, even with correct remote credentials.

## Version and Command Invocation
`preflight version 1.1.0 <commit: f1628fcf489aed88711d6cac95c3f096217f9feb>`

`preflight check container scan.connect.redhat.com/ospid-61dc8f24e4578f8bf95ed986/fake-product:1.0 --pyxis-api-token=fyimy77nix6dtelac7zzan

[2022-05-03 11:12] bcrochet commented on #596
This is related to how crane handles DockerHub.

https://github.com/google/go-containerregistry/blob/main/pkg/name/registry.go#L121-L125

So, yes, we would need to convert it back to just 'docker.io' prior to submission, pending Pyxis outcome.

[2022-05-03 18:36] #336 closed

[2022-05-04 19:41] jfrancin commented on #596
We already have two other open cases for this issue (total of three as I write). I hope that it will get resolved shortly - it's causing significant pain for partners whose releases are being held up due to this inability to certify.

[2022-05-05 18:21] bcrochet commented on #597
My guess at this point is that a different docker config was being used. Can you attempt this with the latest version of preflight (1.1.1), and pass --docker-config <full path to a dockerconfig.json> or set PFLT_DOCKERCONFIG.

[2022-05-05 18:25] bcrochet commented on #593
At this point, this would be an RFE. Preflight makes an assumption that the image under test has been pushed to a remote registry somewhere.

[2022-05-06 15:23] jfrancin commented on #596
Hello,

When will a release happen with this fix in it?

thanks,

john

--
John Francini
Sr. Certification Solutions Engineer
Partner Lifecycle Engineering - Certification Operations
Red Hat
Mobile: +1.603.661.0700

[2022-05-09 09:39] tkrishtop commented on #495
Thank you @bcrochet, going to check.

[2022-05-09 15:33] fckuligowski opened #610 "PreFlight check-operator fails with unauthorized to access repository"
## Bug Description
I'm following these steps.
https://github.com/redhat-openshift-ecosystem/certification-releases/blob/main/4.9/ga/ci-pipeline.md
My pipeline fails with this error.
_time="2022-05-03T18:00:09Z" level=fatal msg="failed to pull remote container: GET https://harbor.starburstdata.net/v2/starburstdata/starburst-enterprise-helm-operator-rhmp/manifests/370.2.0: UNAUTHORIZED: unauthorized

[2022-05-09 19:30] bcrochet opened #611 "Refactor Pyxis builder to use io.Reader"
To enhance the testability and improve code coverage of the pyxis.Builder, the methods should accept an io.Reader instead of a filename.

[2022-05-09 20:04] komish opened #613 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification"
This package is mostly filled with types and defaulting variables, but there are a few generic check initializers that can probably be tested here. Alternatively, remove them, and only leave types in this package.

Related to #573

[2022-05-09 20:05] komish opened #614 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification/artifacts"
This package is very small, but has functions that are currently not being tested at all.

Related to #573

[2022-05-09 20:05] komish opened #615 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification/internal/bundle"
This package is reporting 0.0% coverage. There are some tests, however, they cover a small amount of the package's contents.

Related to #573

[2022-05-09 20:06] komish opened #616 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification/internal/client"
This has no test files, and contains structs with methods in need of testing.

Related to #573

[2022-05-09 20:07] komish opened #617 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification/internal/engine"
This has minimal coverage (0.3%) and has various functions, structs, and methods that need testing. Some of this code may need to be refactored to enable test cases.

[2022-05-09 20:07] komish opened #618 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification/internal/rpm"
This package has a single function that is not tested. It may benefit from being relocated (up to the implementer).

[2022-05-09 20:08] komish opened #619 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/certification/runtime"
Very few functions here, but there's no test coverage.

[2022-05-09 20:08] komish opened #620 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/cmd"
This package has low test coverage at 10.2%. Given that this is our CMD package, we may need to consider refactoring how we establish our runnable functions (e.g. values for a cobra command's `RunE` or `Run` function) in order to improve coverage.

[2022-05-09 20:09] komish opened #621 "Test coverage improvement: github.com/redhat-openshift-ecosystem/openshift-preflight/version"
This is a trivial package, but adding test coverage to it should be simple enough.

[2022-05-10 12:22] tkrishtop opened #622 ""received non 200 status code in updateProject" when running check container with --submit option"
## Bug Description
I'm trying to use out-of-box Pyxis submission for the check container and it fails with the following error

[code]

## Version and Command Invocation
preflight 1.2.0.

Command invocation:

[code]

## Expected Result
The tests are 100% green, so the submission should work.

## Actual Result
Error logs from preflight.log:

[code]

[2022-05-10 13:58] komish commented on #573
Initial coverage:

[code]

[2022-05-10 14:26] acornett21 commented on #622
@tkrishtop That project is not a container project, it's a `bundle image` project. Can you retry with a container project?

[2022-05-10 14:31] #622 closed

[2022-05-10 15:32] #611 closed

[2022-05-10 19:08] komish commented on #621
/assign

[2022-05-10 19:08] komish commented on #614
/assign

[2022-05-11 01:44] jfrancin opened #626 "Preflight's RPM db scanner doesn't handle big-endian data (s390x)"
## Bug Description
Case: https://gss--c.na167.visual.force.com/apex/Case_View?sbstr=03212057 (salesforce)
Project ID:             61df600a25a366740e81379c
PID:                    ospid-61df600a25a366740e81379c
Project Name:           NGINX Ingress Operator
Project Type:           Container Image
Project URL:            https://connect.redhat.com/projects/61df600a25a366740e81379c/overview
Reporter

[2022-05-11 05:23] vikasmulaje commented on #626
@jfrancin what preflight version was used?

[2022-05-11 13:00] samsalisbury opened #627 "Unable to build Dockerfile - fails on 'dnf install podman'"
## Bug Description

Running this command fails:

[code]

## Version and Command Invocation
n/a

## Steps to Reproduce:
Run `docker build -t sometag --build-arg release_tag=1.2.0 --build-arg preflight_commit=cabba9e .`

## Expected Result
I would expect the command to succeed and build an image.

## Actual Result
See error message above in summary.

## Additional Context
I think this is a general i

[2022-05-11 13:37] bcrochet commented on #626
We are aware of this issue. We're working on a fix.

[2022-05-11 13:46] #615 closed, assigned to bcrochet

[2022-05-11 15:01] bcrochet commented on #627
As you said, this is not a preflight problem. I am able to reproduce it. File a bug in [Bugzilla](https://bugzilla.redhat.com).

[2022-05-11 15:01] #627 closed

[2022-05-11 15:08] samsalisbury commented on #627
Thanks for the pointer @bcrochet

[2022-05-11 15:10] jsm84 commented on #626
Working on getting a hotfix delivered now. I just sent a working binary to the customer named in the support case.

[2022-05-11 15:21] samsalisbury commented on #627
FYI anyone looking: https://bugzilla.redhat.com/show_bug.cgi?id=2084179

[2022-05-11 15:52] #621 closed

[2022-05-12 09:57] samsalisbury commented on #627
I see this is affecting builds inside this repository as well now, e.g.: https://github.com/redhat-openshift-ecosystem/openshift-preflight/runs/6393577883?check_suite_focus=true

[2022-05-12 19:19] #613 closed

[2022-05-12 19:19] #619 closed

[2022-05-12 19:52] komish opened #632 "Configure Github actions to publish preflight-darwin-amd64 binaries."
I don't see MacOS binaries, and it would be useful to have them also versioned to make it easier to test for bugs.

[2022-05-12 20:01] acornett21 commented on #632
I thought we were only `supporting rhel`, but I do see this useful since partners on macs are already taking our releases and compiling the source. Also, if/when the `version check` aka auditing goes into place, us having more binaries available would be helpful.

[2022-05-12 20:32] komish commented on #610
/assign

[2022-05-12 21:12] komish commented on #610
Hey @fckuligowski, Thanks for reporting this issue. My apologies for the weirdness!

I believe this should be resolved as of [1.2.0](https://github.com/redhat-openshift-ecosystem/openshift-preflight/releases/tag/1.2.0). Try that version and see if the problem persists.

In earlier versions of the operator checks, I believe the value of `PFLT_DOCKERCONFIG` was used solely to provide the path to the

[2022-05-12 22:40] fckuligowski commented on #610
Thanks Jose for the great details! I took a quick look at this today and it failed but I'm not sure its not something I'm doing. I'll have to wait until tomorrow until I can get into it. I'll post a response by COB tomorrow.

[2022-05-13 18:59] acornett21 opened #633 "docker config is not always sent to pyxis on `--submit`"
## Bug Description
The docker config is not always being sent to pyxis on `--submit` this means that if a partner gives a bad docker config, they have no way to correct this.

## Version and Command Invocation
`main`

## Steps to Reproduce:
1) run `preflight check container ... --docker-config /path/to/bad/config.json` (bad meaning not proper id/pw)
2) go to connect and see that the `health index`

[2022-05-13 19:00] jfrancin commented on #633
This is affecting at least one partner - Confluent - as I write this.

[2022-05-13 20:48] acornett21 opened #635 "Build Out Integration Tests for `check container`"
## Is your feature request related to a problem? Please describe.
Since preflight now takes on the role of `CVP` as well as the `connect` UI, it would be nice if we had integration tests in place that interacted with pyxis, so we knew we have not broken a flow or given functionality with a change.

## Describe the solution you'd like.
I think we would want to do something like
1. Setup net-new pro

[2022-05-16 07:00] vikasmulaje commented on #635
@acornett21 @jomkz We are already doing these things in E2E container Certification Pipeline.
Can we sync and discuss more on this?

[2022-05-16 09:24] tkrishtop commented on #635
@acornett21 I'm currently working on adding `--submit` option to DCI checks for each preflight PR.
Implementation details: simple-demo-operator in "private" repository + `check container` with `--submit` option.

[2022-05-16 15:46] komish commented on #632
Gotcha. I thought we used to have them, but I was probably just constantly running `make build` in those days so I had all recent version. I'm all good here.

/close

[2022-05-16 15:46] #632 closed

[2022-05-16 16:39] #617 closed

[2022-05-18 16:05] sebrandon1 opened #639 "Propose external library for sharing logic for operator checks"
## Is your feature request related to a problem? Please describe.
The [CNF Test Suite](https://github.com/test-network-function/cnf-certification-test) team and the Preflight team are both working to verify customer workloads and we would like to use some of the logic/checks that the preflight repo does for operators (and maybe even containers) from [here](https://github.com/redhat-openshift-ecosy

[2022-05-18 18:47] komish opened #640 "Refactor logging, adopt a log level standard, ensuring users rarely need to increase verbosity and re-run to debug an issue."
### Problems

- There’s no clarity or guidance on when to use what log level across the code base. `log.Debug` and `log.Trace` are used somewhat interchangeably.
- It’s not always clear to someone debugging a preflight execution error exactly what happened, especially if they used a log level that is insufficiently granular for the type of issue they encountered.

### The solution should:

- Clari